{% extends "base_delete.html" %}

{% load i18n %}
{% load details %}

{% block meta_title %}
{% model_name object.content_type.model_class as model %}
{% blocktrans %}Delete {{ model }}{% endblocktrans %}
{% endblock %}

{% block title %}
{% model_name object.content_type.model_class as model %}
<div class="title">
    <h1>{{ object|striptags|capfirst }}</h1>
    <h2>{% blocktrans %}Delete {{ model }}{% endblocktrans %}</h2>
</div>
{% endblock %}

{% block message %}
{% model_name object.content_type.model_class as model %}
<p>{% blocktrans %}Are you sure you want to delete this {{ model }}?{% endblocktrans %}</p>
{% endblock %}
