{% extends "base_edit.html" %}

{% load i18n %}
{% load details %}

{% block meta_title %}
{% model_name object.content_type.model as model %}
{% if object.pk %}
{% blocktrans %}Edit {{ model }}{% endblocktrans %}
{% else %}
{% blocktrans %}Add {{ model }}{% endblocktrans %}
{% endif %}
{% endblock %}

{% block title %}
<div class="title">
    {% model_name object.content_type.model_class as model %}
    {% if object.pk %}
    <h1>{{ object|striptags|capfirst }}</h1>
    <h2>{% blocktrans %}Edit {{ model }}{% endblocktrans %}</h2>
    {% else %}
    <h1>{% blocktrans %}Add {{ model }}{% endblocktrans %}</h1>
    {% endif %}
</div>
{% endblock %}
