{% extends "base.html" %}

{% load i18n %}
{% load details %}

{% block meta_title %}
{% if object.pk %}{% trans 'Edit hard copy' %}{% else %}{% trans 'Add hard copy' %}{% endif %}
{% endblock %}

{% block title %}
<div class="title">
    {% if object.pk %}
    <h1>{{ object }}</h1>
    <h2>{% trans 'Edit hard copy' %}</h2>
    {% else %}
    <h1>{% trans 'Add hard copy' %}</h1>
    {% endif %}
</div>
{% endblock %}

{% block main %}
<form enctype="multipart/form-data" method="post" action=".">
    {% csrf_token %}
    <table class="properties">
        {% property_table form %}
    </table>
    <span class="submit"><input type="submit" value="{% trans 'Save' %}"/></span>
</form>
{% endblock %}
