{% extends 'projects/areas/view.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block breadcrumbs %}
    {% add_crumb 'Projects' '/projects/' %}
    {% add_crumb area.project area.project.get_absolute_url %}
    {% add_crumb 'Areas' area.project.get_areas_url %}
    {% add_crumb area area.get_absolute_url %}
    {% add_crumb 'Tickets' %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block current_page %}
    <h3>{% trans 'Tickets' %}</h3>
    {% include 'search_box.html' %}
    {{ tickets.as_table }}
    <ul class="actions">
        <li><a class="add" href="{{ area.add_ticket_url }}">{% trans 'Add' %}</a></li>
    </ul>
{% endblock %}
