{% extends 'products/layout.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block breadcrumbs %}
    {% add_crumb 'Products' '/products/' %}
    {% add_crumb 'UOMs' '/products/uoms/' %}
    {% add_crumb 'Categories' '/products/uoms/categories/' %}
    {% add_crumb category %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <h3>{% trans 'Edit' %}</h3>
    <form action="." method="post">
        {{ form.as_p }}
        <div class="actions">
            <input class="save" type="submit" value="{% trans 'Save' %}" />
        </div>
    </form>
    <ul class="actions">
        <li><a class="view" href="{{ category.get_absolute_url }}">{% trans 'View' %}</a></li>
        <li><a class="delete" href="{{ category.get_delete_url }}">{% trans 'Delete' %}</a></li>
    </ul>
{% endblock %}
