{% extends 'products/uoms/categories/view.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block breadcrumbs %}
    {% add_crumb 'Products' '/products/' %}
    {% add_crumb 'UOMs' '/products/uoms/' %}
    {% add_crumb 'Categories' '/products/uoms/categories/' %}
    {% add_crumb category category.get_absolute_url %}
    {% add_crumb 'UOMs' %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block page %}
    <h3>{% trans 'UOMs' %}</h3>
    {% include 'search_box.html' %}
    {{ uoms.as_table }}
{% endblock %}
