{% extends 'layout.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block title %}{% trans 'Products' %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Products' '/products/' %}
    {% add_crumb 'UOMs' '/products/uoms/' %}
    {% add_crumb 'Categories' '/products/uoms/categories/' %}
    {% add_crumb category %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <h3>{% trans 'Details' %}</h3>
    {{ details.as_dl }}
    <h3>{% trans 'UOMs' %}</h3>
    {% include 'search_box.html' %}
    {% if category.uom_set.all %}
    <table>
        <thead>
            <td>{% trans 'Name' %}</td>
            <td>{% trans 'Initials' %}</td>
            <td>{% trans 'Actions' %}</td>
        </thead>
        {% for uom in category.uom_set.all %}
        <tr>
            <td>{{ uom.name }}</td>
            <td>{{ uom.initials }}</td>
            <td>
                <ul class="actions">
                    <li><a class="view" href="/products/uoms/view/{{ uom.id }}/">{% trans 'View' %}</a></li>
                    <li><a class="edit" href="/products/uoms/edit/{{ uom.id }}/">{% trans 'Edit' %}</a></li>
                    <li><a class="delete" href="/products/uoms/delete/{{ uom.id }}/">{% trans 'Delete' %}</a></li>
                </ul>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p class="disabled">{% trans 'empty' %}.</p>
    {% endif %}
    <ul class="actions">
        <li><a class="edit" href="/products/uoms/categories/edit/{{ category.id }}/">{% trans 'Edit' %}</a></li>
        <li><a class="delete" href="/products/uoms/categories/delete/{{ category.id }}/">{% trans 'Delete' %}</a></li>
        <li><a class="categories" href="/products/uoms/categories/">{% trans 'Categories' %}</a></li>
    </ul>
{% endblock %}
