{% extends "base.html" %}

{% load i18n %}
{% load markup %}
{% load breadcrumbs %}
{% load navigator %}
{% load region %}
{% load menu %}

{% block meta_title %}{{ object|striptags|capfirst }}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb 'Projects' 'project_list' %}
    {% add_crumb object.project object.project.get_absolute_url %}
    {% add_crumb 'Milestones' 'milestone_list' object.project.slug %}
    {% add_crumb object %}
    {% render_breadcrumbs %}
{% endblock %}

{% block title %}
<div class="title">
    <h1>{{ object|escape|capfirst }}</h1>
    <h2>{% block subtitle %}{% trans "Dashboard" %}{% endblock %}</h2>
</div>
{% endblock %}

{% block main %}
<div class="actions">
    <ul>
        {% if perms.projects.add_milestone %}
        <li class="add"><a title="{% trans 'Add' %}" href="{% url milestone_add object.project.slug %}">{% trans 'Add' %}</a></li>
        {% endif %}
        {% if perms.projects.change_milestone %}
        <li class="edit"><a title="{% trans 'Edit' %}" href="{% url milestone_edit object.project.slug object.slug %}">{% trans 'Edit' %}</a></li>
        {% endif %}
        {% if perms.projects.delete_milestone %}
        <li class="delete"><a title="{% trans 'Delete' %}" href="{% url milestone_delete object.project.slug object.slug %}">{% trans 'Delete' %}</a></li>
        {% endif %}
        {% if perms.projects.change_milestone %}
        <li class="all"><a title="{% trans 'All' %}" href="{% url milestone_list object.project.slug %}">{% trans 'All' %}</a></li>
        {% endif %}
    </ul>
</div>
{% objects_from object %}
{% with objects as object_list %}
{% include 'elements/navigator.html' %}
{% endwith %}
<div class="details">
    <div class="sections">
        <div class="menu">
            {% menu "milestone_menu" %}
        </div>
        <div class="section">
            {% block section %}
            <table class="properties">
                <tr>
                    <th>{% trans "Manager" %}:</th>
                    <td>
                        {% if object.parent %}
                        <a class="manager" href="{{ object.manager.get_absolute_url }}">{{ object.manager }}</a>
                        {% else %}
                        <span class="disabled">{% trans "empty" %}</span>
                        {% endif %}
                    </td>
                    <th>{% trans "Deadline" %}:</th>
                    <td>
                        {% if object.date_due %}
                        {{ object.date_due }}
                        {% else %}
                        <span class="disabled">{% trans "empty" %}</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{% trans "Created by" %}:</th>
                    <td><a class="author" href="{{ object.author.get_absolute_url }}">{{ object.author }}</a></td>
                    <th>{% trans "Created on" %}:</th>
                    <td>{{ object.created }}</td>
                </tr>
                <tr>
                    <th>{% trans "Progress" %}:</th>
                    <td>{{ object.progress }}%</td>
                    <th>{% trans "Closed on" %}:</th>
                    <td>
                        {% if object.closed %}
                        {{ object.closed }}
                        {% else %}
                        <span class="disabled">{% trans "empty" %}</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{% trans "Tags" %}:</th>
                    <td colspan="3">{% for tag in object.tags.all %} <a class="tag" href="{{ tag.get_absolute_url }}">{{ tag }}</a>{% if not forloop.last %},{% endif %}{% empty %}<span class="disabled">{% trans "empty" %}</span>{% endfor %}</td>
                </tr>
                <tr>
                    <th>{% trans "Categories" %}:</th>
                    <td colspan="3">{% for category in object.categories.all %} <a class="category" href="{{ category.get_absolute_url }}">{{ category }}</a>{% if not forloop.last %},{% endif %}{% empty %}<span class="disabled">{% trans "empty" %}</span>{% endfor %}</td>
                </tr>
                <tr>
                    <th>{% trans "Description" %}:</th>
                    <td colspan="3">
                        {% with object.description as description %}
                        {% include "projects/entry.html" %}
                        {% endwith %}
                    </td>
                </tr>
            </table>
            {% region object.dashboard %}
            {% include "elements/comments.html" %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
