{% extends "base.html" %}

{% load i18n %}
{% load markup %}
{% load breadcrumbs %}
{% load details %}

{% block meta_title %}{{ object|striptags|capfirst }}{% endblock %}
{% if object.description %}{% block meta_description %}{{ object.description|striptags|capfirst }}{% endblock %}{% endif %}
{% if object.tags.all %}{% block meta_keywords %}{{ object.tags.all|join:", " }}{% endblock %}{% endif %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb 'Projects' 'project_list' %}
    {% add_crumb object.project object.project.get_absolute_url %}
    {% add_crumb 'Milestones' 'milestone_list' object.project.slug %}
    {% add_crumb object object.get_absolute_url %}
    {% add_crumb 'Tickets' %}
    {% render_breadcrumbs %}
{% endblock %}

{% block title %}
<div class="title">
    <h1>{% trans "Tickets" %}</h1>
</div>
{% endblock %}

{% block main %}
{% include 'elements/filterbox.html' %}
<div class="actions">
    <ul>
        {% if perms.projects.add_ticket %}
        <li class="add"><a title="{% trans 'Add' %}" href="{% url ticket_add project.slug %}">{% trans 'Add' %}</a></li>
        {% endif %}
    </ul>
</div>
<div class="details">
    {% detail_table object_list field_names %}
    {% include 'elements/paginator.html' %}
</div>
{% endblock %}
