{% extends "projects/milestone_detail.html" %}

{% load i18n %}
{% load breadcrumbs %}
{% load paginator %}
{% load details %}

{% block meta_title %}{% trans "Timeline" %}{% endblock %}

{% block subtitle %}{% trans "Timeline" %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb 'Projects' 'project_list' %}
    {% add_crumb object.project object.project.get_absolute_url %}
    {% add_crumb 'Milestones' 'milestone_list' object.project.slug %}
    {% add_crumb object object.get_absolute_url %}
    {% add_crumb 'Timeline' %}
    {% render_breadcrumbs %}
{% endblock %}

{% block section %}
<div class="details">
    {% with object.stream.activity_set.all as object_list %}
    {% paginate object_list %}
    {% regroup object_list by created.date as activities_by_date %}
    {% if activities_by_date %}
    <dl class="activities">
    {% for date in activities_by_date %}
        <dt><h3>{{ date.grouper }}</h3></dt>
        <dd>
            <ul>
            {% for item in date.list %}
                <li class="{{ item.signature }}">
                    <strong>{{ item.created.time }}</strong>
                    {% if item.get_absolute_url %}
                    <a href="{{ item.get_absolute_url }}">{{ item|capfirst }}</a>
                    {% else %}
                    {{ item|capfirst }}
                    {% endif %}
                    {% with item.created|timesince as timesince %}
                    <span class="timesince">({% blocktrans %}{{ timesince }} ago{% endblocktrans %})</span>
                    {% endwith %}
                    {% if item.description %}
                    <p class="description">{{ item.get_description|safe }}</p>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </dd>
    {% endfor %}
    </dl>
    {% else %}
    <p class="disabled">{% trans "No results found." %}</p>
    {% endif %}
    {% include 'elements/paginator.html' %}
    {% endwith %}
</div>
<ul>
    {% if user not in object.stream.followers.all %}
    <li><span class="submit"><a title="{% trans 'Follow' %}" href="{% url stream_follow object.stream request.path %}">{% trans 'Follow' %}</a></span></li>
    {% else %}
    <li><span class="submit"><a title="{% trans 'Leave' %}" href="{% url stream_leave object.stream request.path %}">{% trans 'Leave' %}</a></span></li>
    {% endif %}
</ul>
{% endblock %}
