{% load i18n %}

<dt{% if milestone.closed %} class="closed"{% else %}{% if milestone.expired %} class="expired"{% endif %}{% endif %}>
    <h3><a href="{{ milestone.get_absolute_url }}">{{ milestone.title }}</a></h3>
    <span class="actions">
        <ul>
            {% if perms.projects.edit_milestone %}
            <li class="edit"><a title="{% trans "Edit" %}" href="{{ milestone.get_edit_url }}">{% trans "Edit" %}</a></li>
            {% endif %}
            {% if perms.projects.delete_milestone %}
            <li class="delete"><a title="{% trans "Delete" %}" href="{{ milestone.get_delete_url }}">{% trans "Delete" %}</a></li>
            {% endif %}
        </ul>
    </span>
</dt>
<dd>
    <p class="meta">
        <strong>{% trans "Deadline" %}:</strong>
        <span>
            {% if milestone.date_due %}
            {{ milestone.date_due }}
            {% if milestone.expired %}
            <span class="delay">({{ milestone.date_due|timesince }} {% trans "overdue" %})</span>
            {% else %}
            {% if not milestone.closed and milestone.date_due %}
            <span class="countdown">({{ milestone.date_due|timeuntil }})</span>
            {% endif %}
            {% endif %}
            {% else %}
            <span class="disabled">{% trans "undefined" %}</span>
            {% endif %}
        </span>
        -
        <strong>{% trans "Tickets" %}:</strong>
        <span><a href="{% url milestone_tickets milestone.project.slug milestone.slug %}">{{ milestone.tickets.closed.count }}/{{ milestone.tickets.count }}</a></span>
    </p>
    {% include "projects/milestone_progress.html" %}
    {{ milestone.description|safe }}
    {% if milestone.sub_milestones.all %}
    {% with milestone.sub_milestones.all as milestone_list %}
    <dl class="milestones">
        {% for milestone in milestone_list %}
        {% include 'projects/milestone.html' %}
        {% endfor %}
    </dl>
    {% endwith %}
    {% endif %}
</dd>
