{% extends "projects/milestone_detail.html" %}

{% load i18n %}
{% load breadcrumbs %}
{% load details %}

{% block meta_title %}{% trans "Tickets" %}{% endblock %}

{% block subtitle %}{% trans "Tickets" %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb 'Projects' 'project_list' %}
    {% add_crumb object.project object.project.get_absolute_url %}
    {% add_crumb 'Milestones' 'milestone_list' object.project.slug %}
    {% add_crumb object object.get_absolute_url %}
    {% add_crumb 'Tickets' %}
    {% render_breadcrumbs %}
{% endblock %}

{% block menu %}
{% if perms.projects.change_milestone %}
<li><a href="{{ object.get_absolute_url }}">{% trans 'Dashboard' %}</a></li>
{% endif %}
{% if perms.projects.change_ticket %}
<li class="active"><a href="{% url milestone_tickets object.project.slug object.slug %}">{% trans 'Tickets' %}</a></li>
{% endif %}
{% endblock %}

{% block section %}
{% include 'elements/filterbox.html' %}
<div class="actions">
    <ul>
        {% if perms.projects.add_ticket %}
        <li class="add"><a title="{% trans 'Add' %}" href="{% url milestone_ticket_add project.slug object.slug %}">{% trans 'Add' %}</a></li>
        {% endif %}
    </ul>
</div>
<div class="details">
    {% detail_table object_list field_names %}
    {% include 'elements/paginator.html' %}
</div>
{% endblock %}
