{% extends "base.html" %}

{% load i18n %}
{% load navigator %}
{% load region %}
{% load menu %}

{% block meta_title %}{{ object.title|striptags|capfirst }}{% endblock %}

{% load breadcrumbs %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb 'Projects' '/projects/' %}
    {% add_crumb object.title %}
    {% render_breadcrumbs %}
{% endblock %}

{% block title %}
<div class="title">
    <h1>{{ object.title|escape|capfirst }}</h1>
    <h2>{% block subtitle %}{% trans "Dashboard" %}{% endblock %}</h2>
</div>
{% endblock %}

{% block main %}
<div class="actions">
    <ul>
        {% if perms.projects.add_project %}
        <li class="add"><a title="{% trans 'Add' %}" href="{% url project_add %}">{% trans 'Add' %}</a></li>
        {% endif %}
        {% if perms.projects.change_project %}
        <li class="edit"><a title="{% trans 'Edit' %}" href="{% url project_edit object.slug %}">{% trans 'Edit' %}</a></li>
        {% endif %}
        {% if perms.projects.delete_project %}
        <li class="delete"><a title="{% trans 'Delete' %}" href="{% url project_delete object.slug %}">{% trans 'Delete' %}</a></li>
        {% endif %}
        {% if perms.projects.change_project %}
        <li class="all"><a title="{% trans 'All' %}" href="{% url project_list %}">{% trans 'All' %}</a></li>
        {% endif %}
    </ul>
</div>
{% objects_from object %}
{% with objects as object_list %}
{% include 'elements/navigator.html' %}
{% endwith %}
<div class="sections">   
    <div class="menu">
        {% menu "project_menu" %}
    </div>
    <div class="section">
        {% block section %}
        <div class="details">
            <table class="properties">
                <tr>
                    <th>{% trans "Project manager" %}:</th>
                    <td colspan="3">
                        {% if object.parent %}
                        <a class="manager" href="{{ object.manager.get_absolute_url }}">{{ object.manager }}</a>
                        {% else %}
                        <span class="disabled">{% trans "empty" %}</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{% trans "Created by" %}:</th>
                    <td><a class="author" href="{{ object.author.get_absolute_url }}">{{ object.author }}</a></td>
                    <th>{% trans "Created on" %}:</th>
                    <td>{{ object.created }}</td>
                </tr>
                <tr>
                    <th>{% trans "Status" %}:</th>
                    <td>{% trans object.status %}</td>
                    <th>{% trans "Closed on" %}:</th>
                    <td>
                        {% if object.closed %}
                        {{ object.closed }}
                        {% else %}
                        <span class="disabled">{% trans "empty" %}</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{% trans "Tags" %}:</th>
                    <td colspan="3">
                        {% for tag in object.tags.all %} <a class="tag" href="{{ tag.get_absolute_url }}">{{ tag }}</a>{% if not forloop.last %},{% endif %}{% empty %}<span class="disabled">{% trans "empty" %}</span>{% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>{% trans "Categories" %}:</th>
                    <td colspan="3">
                        {% for category in object.categories.all %} <a class="category" href="{{ category.get_absolute_url }}">{{ category }}</a>{% if not forloop.last %},{% endif %}{% empty %}<span class="disabled">{% trans "empty" %}</span>{% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>{% trans "Description" %}:</th>
                    <td colspan="3">
                        {% with object.description as description %}
                        {% include "projects/entry.html" %}
                        {% endwith %}
                    </td>
                </tr>
            </table>
        </div>
        {% region object.dashboard %}
        {% include "elements/comments.html" %}
        {% endblock %}
    </div>
</div>
{% endblock %}
