{% extends "base_detail.html" %}

{% load i18n %}
{% load breadcrumbs %}
{% load menu %}
{% load details %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb 'Projects' '/projects/' %}
    {% add_crumb object.project object.project.get_absolute_url %}
    {% add_crumb 'Tickets' 'ticket_list' object.project.code %}
    {% add_crumb object %}
{% endblock %}

{% block title %}
<div class="title">
    {% if object.closed %}<p class="meta">{% blocktrans with object.closed as closed %}Closed on {{ closed }}{% endblocktrans %}</p>{% endif %}
    <h1>{{ object|striptags|capfirst }}</h1>
    <h2>{% block subtitle %}{% trans "Details" %}{% endblock %}</h2>
</div>
{% endblock %}

{% block objectactions %}
{% if perms.projects.add_ticket %}
<li class="add"><a title="{% trans 'Add' %}" href="{% url ticket_add object.project.code %}">{% trans 'Add' %}</a></li>
{% endif %}
{% if object.pk in obj_perms.projects.change_ticket %}
<li class="edit"><a title="{% trans 'Edit' %}" href="{% url ticket_edit object.project.code object.code %}">{% trans 'Edit' %}</a></li>
{% endif %}
{% if object.pk in obj_perms.projects.delete_ticket %}
<li class="delete"><a title="{% trans 'Delete' %}" href="{% url ticket_delete object.project.code object.code %}">{% trans 'Delete' %}</a></li>
{% endif %}
{% if perms.projects.view_ticket %}
<li class="all"><a title="{% trans 'All' %}" href="{% url ticket_list object.project.code %}">{% trans 'All' %}</a></li>
{% endif %}
{% if object.pk in obj_perms.projects.view_ticket %}
{% if user not in object.stream.followers.all %}
<li class="follow"><a title="{% trans 'Follow' %}" href="{% url stream_follow object.stream request.path %}">{% trans 'Follow' %}</a></li>
{% else %}
<li class="leave"><a title="{% trans 'Leave' %}" href="{% url stream_leave object.stream request.path %}">{% trans 'Leave' %}</a></li>
{% endif %}
{% endif %}
{% endblock %}

{% block objectmenu %}{% menu "ticket-menu" %}{% endblock %}

{% block section %}
<div class="details">
    <table class="properties">
        {% property_table object "[['author', 'assignee'], ['created', 'modified'], ['status', 'type'], ['milestone', 'urgency'], 'description', 'working_hours', 'categories', 'tags']" %}
    </table>
</div>
{% include "elements/comments.html" %}
{% endblock %}
