{% extends "base.html" %}

{% load i18n %}
{% load breadcrumbs %}
{% load menu %}
{% load details %}

{% block meta_title %}{{ object|striptags|capfirst }}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb 'Projects' '/projects/' %}
    {% add_crumb object.project object.project.get_absolute_url %}
    {% add_crumb 'Tickets' 'ticket_list' object.project.slug %}
    {% add_crumb object %}
{% endblock %}

{% block title %}
<div class="title">
    {% if object.closed %}<p class="meta">{% blocktrans with object.closed as closed %}Closed on {{ closed }}{% endblocktrans %}</p>{% endif %}
    <h1>{{ object|escape|capfirst }}</h1>
    <h2>{% block subtitle %}{% trans "Details" %}{% endblock %}</h2>
</div>
{% endblock %}

{% block main %}
<div class="actions">
    <ul>
        {% if perms.projects.add_ticket %}
        <li class="add"><a title="{% trans 'Add' %}" href="{% url ticket_add object.project.slug %}">{% trans 'Add' %}</a></li>
        {% endif %}
        {% if perms.projects.change_ticket %}
        <li class="edit"><a title="{% trans 'Edit' %}" href="{% url ticket_edit object.project.slug object.pk %}">{% trans 'Edit' %}</a></li>
        {% endif %}
        {% if perms.projects.delete_ticket %}
        <li class="delete"><a title="{% trans 'Delete' %}" href="{% url ticket_delete object.project.slug object.pk %}">{% trans 'Delete' %}</a></li>
        {% endif %}
        {% if perms.projects.change_ticket %}
        <li class="all"><a title="{% trans 'All' %}" href="{% url ticket_list object.project.slug %}">{% trans 'All' %}</a></li>
        {% endif %}
        {% if perms.projects.change_ticket %}
        {% if user not in object.stream.followers.all %}
        <li class="follow"><a title="{% trans 'Follow' %}" href="{% url stream_follow object.stream request.path %}">{% trans 'Follow' %}</a></li>
        {% else %}
        <li class="leave"><a title="{% trans 'Leave' %}" href="{% url stream_leave object.stream request.path %}">{% trans 'Leave' %}</a></li>
        {% endif %}
        {% endif %}
    </ul>
</div>
{% include 'elements/navigator.html' %}
<div class="sections">
    <div class="menu">
        {% menu "ticket_menu" %}
    </div>
    <div class="section">
        {% block section %}
        <div class="details">
            {% property_table object "[['author', 'assignee'], ['created', 'modified'], ['status', 'type'], ['milestone', 'urgency'], 'description', 'categories', 'tags']" %}
            {% include "elements/comments.html" %}
        </div>
        {% endblock %}
    </div>
</div>
{% endblock %}
