{% extends "base.html" %}

{% load i18n %}
{% load markup %}
{% load breadcrumbs %}
{% load menu %}

{% block meta_title %}{{ object|striptags|capfirst }}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb 'Projects' '/projects/' %}
    {% add_crumb object.project object.project.get_absolute_url %}
    {% add_crumb 'Tickets' 'ticket_list' object.project.slug %}
    {% add_crumb object %}
    {% render_breadcrumbs %}
{% endblock %}

{% block title %}
<div class="title">
    {% if object.closed %}<p class="meta">{% blocktrans with object.closed as closed %}Closed on {{ closed }}{% endblocktrans %}</p>{% endif %}
    <h1>{{ object|escape|capfirst }}</h1>
    <h2>{% block subtitle %}{% trans "Details" %}{% endblock %}</h2>
</div>
{% endblock %}

{% block main %}
<div class="actions">
    <ul>
        {% if perms.projects.add_ticket %}
        <li class="add"><a title="{% trans 'Add' %}" href="{% url ticket_add object.project.slug %}">{% trans 'Add' %}</a></li>
        {% endif %}
        {% if perms.projects.change_ticket %}
        <li class="edit"><a title="{% trans 'Edit' %}" href="{% url ticket_edit object.project.slug object.pk %}">{% trans 'Edit' %}</a></li>
        {% endif %}
        {% if perms.projects.delete_ticket %}
        <li class="delete"><a title="{% trans 'Delete' %}" href="{% url ticket_delete object.project.slug object.pk %}">{% trans 'Delete' %}</a></li>
        {% endif %}
        {% if perms.projects.change_ticket %}
        <li class="all"><a title="{% trans 'All' %}" href="{% url ticket_list object.project.slug %}">{% trans 'All' %}</a></li>
        {% endif %}
    </ul>
</div>
{% include 'elements/navigator.html' %}
<div class="sections">
    <div class="menu">
        {% menu "ticket_menu" %}
    </div>
    <div class="section">
        {% block section %}
        <div class="details">
            <table class="properties">
                <tr>
                    <th>{% trans "Reported by" %}:</th>
                    <td><a class="author" href="{{ object.author.get_absolute_url }}">{{ object.author }}</a></td>
                    <th>{% trans "Assigned to" %}:</th>
                    <td>{% for assignee in object.assignees.all %} <a class="assignee" href="{{ assignee.get_absolute_url }}">{{ assignee }}</a>{% if not forloop.last %},{% endif %}{% empty %}<span class="disabled">{% trans "nobody" %}</span>{% endfor %}</td>
                </tr>
                <tr>
                    <th>{% trans "Created on" %}:</th>
                    <td>{{ object.created }}</td>
                    <th>{% trans "Last modified on" %}:</th>
                    <td>{{ object.modified }}</td>
                </tr>
                <tr>
                    <th>{% trans "Status" %}:</th>
                    <td>{{ object.status }}</td>
                    <th>{% trans "Type" %}:</th>
                    <td>{{ object.type }}</td>
                </tr>
                <tr>
                    <th>{% trans "Milestone" %}:</th>
                    <td>
                        {% if object.milestone %}
                        <a href="{{ object.milestone.get_absolute_url }}">{{ object.milestone }}</a>
                        {% else %}
                        <span class="disabled">{% trans "empty" %}</span>
                        {% endif %}
                    </td>
                    <th>{% trans "Urgency" %}:</th>
                    <td>{{ object.urgency }}</td>
                </tr>
                <tr>
                    <th>{% trans "Areas" %}:</th>
                    <td colspan="3">{% for area in object.areas.all %} <a class="area" href="{{ area.get_absolute_url }}">{{ area }}</a>{% if not forloop.last %},{% endif %}{% empty %}<span class="disabled">{% trans "empty" %}</span>{% endfor %}</td>
                </tr>
                <tr>
                    <th>{% trans "Tags" %}:</th>
                    <td colspan="3">{% for tag in object.tags.all %} <a class="tag" href="{{ tag.get_absolute_url }}">{{ tag }}</a>{% if not forloop.last %},{% endif %}{% empty %}<span class="disabled">{% trans "empty" %}</span>{% endfor %}</td>
                </tr>
                <tr>
                    <th>{% trans "Categories" %}:</th>
                    <td colspan="3">{% for category in object.categories.all %} <a class="category" href="{{ category.get_absolute_url }}">{{ category }}</a>{% if not forloop.last %},{% endif %}{% empty %}<span class="disabled">{% trans "empty" %}</span>{% endfor %}</td>
                </tr>
                <tr>
                    <th>{% trans "Description" %}:</th>
                    <td colspan="3">
                        {% with object.description as description %}
                        {% include "projects/entry.html" %}
                        {% endwith %}
                    </td>
                </tr>
            </table>
            {% include "elements/comments.html" %}
        </div>
        {% endblock %}
    </div>
</div>
{% endblock %}
