{% extends 'layout.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block title %}{% trans 'Partners' %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Partners' '/partners/' %}
    {% add_crumb 'Add' %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <h3>{% trans 'Add' %}</h3>
    <form action="/partners/add/" method="post">
        {{ form.as_p }}
        <input class="save" type="submit" value="{% trans 'Save' %}"/>
    </form>
    <ul class="actions">
        <li><a class="people" href="/partners/">{% trans 'Partners' %}</a></li>
    </ul>
{% endblock %}
