{% extends 'layout.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block title %}{% trans 'Partners' %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Partners' '/partners/' %}
    {% add_crumb partner %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <h3>{% trans 'Delete' %}</h3>
    <form action="/partners/delete/{{ partner.id }}/" method="post">
        <div class="message">
            <p class="warning">{% trans 'Are you sure you want to delete this partner and all its related informations?' %}</p>
            <div class="actions">
                <input class="ok" type="submit" name="yes" value="{% trans 'Yes' %}" />
                <input class="cancel" type="submit" name="no" value="{% trans 'No' %}" />
            </div>
        </div>
    </form>
    <ul class="actions">
        <li><a class="view" href="/partners/view/{{ partner.id }}">{% trans 'View' %}</a></li>
        <li><a class="delete" href="/partners/edit/{{ partner.id }}">{% trans 'Edit' %}</a></li>
        <li><a class="people" href="/partners/">{% trans 'Partners' %}</a></li>
    </ul>
{% endblock %}
