{% extends 'partners/layout.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block breadcrumbs %}
    {% add_crumb 'Partners' '/partners/' %}
    {% add_crumb partner partner.get_absolute_url %}
    {% add_crumb 'Telephone numbers' partner.get_telephones_url %}
    {% add_crumb telephone %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <h3>{% trans 'Edit' %}</h3>
    <form action="." method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="actions">
            <input class="save" type="submit" value="{% trans 'Save' %}" />
        </div>
    </form>
    <ul class="actions">
        <li><a class="view" href="{{ telephone.get_absolute_url }}">{% trans 'View' %}</a></li>
        <li><a class="delete" href="/partners/{{ partner.pk}}/telephones/delete/{{ telephone.pk }}/">{% trans 'Delete' %}</a></li>
    </ul>
{% endblock %}
