{% extends 'layout.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block title %}{% trans 'Partners' %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Partners' %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <h3>{% trans 'Partners' %}</h3>
    <div id="search">
        <form action="/partners/" method="post">
            <input type="text" name="query"/>
            <input type="submit" name="search" class="search" value="{% trans 'Search' %}"/>
        </form>
    </div>
    {% if partners %}
    <table>
        <thead>
            <td>{% trans 'Name' %}</td>
            <td>{% trans 'Supplier' %}</td>
            <td>{% trans 'Customer' %}</td>
            <td>{% trans 'Actions' %}</td>
        </thead>
        {% for partner in partners %}
        <tr>
            <td>{{ partner.name }}</td>
            <td>{% if partner.is_supplier %}<span class="yes">{% trans 'Yes' %}</span>{% else %}<span class="no">{% trans 'No' %}</span>{% endif %}</td>
            <td>{% if partner.is_customer %}<span class="yes">{% trans 'Yes' %}</span>{% else %}<span class="no">{% trans 'No' %}</span>{% endif %}</td>
            <td>
                <ul class="actions">
                    <li><a class="view" href="/partners/view/{{ partner.id }}/">{% trans 'View' %}</a></li>
                    <li><a class="edit" href="/partners/edit/{{ partner.id }}/">{% trans 'Edit' %}</a></li>
                    <li><a class="delete" href="/partners/delete/{{ partner.id }}/">{% trans 'Delete' %}</a></li>
                </ul>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p class="disabled">{% trans 'empty' %}.</p>
    {% endif %}
    <ul class="actions">
        <li><a class="add" href="/partners/add/">{% trans 'Add' %}</a></li>
    </ul>
{% endblock %}
