{% extends 'partners/layout.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block breadcrumbs %}
    {% add_crumb 'Partners' '/partners/' %}
    {% add_crumb partner %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <ul class="menu">
        <li><a class="view" href="{{ partner.get_absolute_url }}">{% trans 'Details' %}</a></li>
        <li><a class="telephones" href="{{ partner.get_telephones_url }}">{% trans 'Telephone numbers' %}</a></li>
        <li><a class="addresses" href="{{ partner.get_addresses_url }}">{% trans 'Addresses' %}</a></li>
        <li><a class="contacts" href="{{ partner.get_contacts_url }}">{% trans 'Contacts' %}</a></li>
    </ul>
    {% block page %}
    <h3>{% trans 'Details' %}</h3>
    {{ details.as_dl }}
    <ul class="actions">
        <li><a class="edit" href="{{ partner.get_edit_url }}">{% trans 'Edit' %}</a></li>
        <li><a class="delete" href="{{ partner.get_delete_url }}">{% trans 'Delete' %}</a></li>
    </ul>
    {% endblock %}
{% endblock %}
