{% extends 'layout.html' %}

{% load i18n %}

{% block title %}{% trans 'Products' %}{% endblock %}

{% block breadcrumb %}<h2>{% trans 'Products' %} > {% trans 'Categories' %} > {% trans 'Delete' %} > {{ category }}</h2>{% endblock %}

{% block content %}
    <form action="/products/categories/delete/{{ category.id }}/" method="post">
        <div class="message">
            <p class="warning">{% trans 'Are you sure you want to delete this category and all its related informations?' %}</p>
            <div class="actions">
                <input class="ok" type="submit" name="yes" value="{% trans 'Yes' %}" />
                <input class="cancel" type="submit" name="no" value="{% trans 'No' %}" />
            </div>
        </div>
    </form>
    <ul class="actions">
        <li><a class="view" href="/products/view/{{ category.id }}">{% trans 'View' %}</a></li>
        <li><a class="delete" href="/products/edit/{{ category.id }}">{% trans 'Edit' %}</a></li>
        <li><a class="categories" href="/products/categories/">{% trans 'Categories' %}</a></li>
    </ul>
{% endblock %}
