{% extends 'layout.html' %}

{% load i18n %}

{% block title %}{% trans 'Products' %}{% endblock %}

{% block breadcrumb %}<h2>{% trans 'Products' %} > {% trans 'Categories' %} > {% trans 'Edit' %} > {{ category }}</h2>{% endblock %}

{% block content %}
    <form action="/products/categories/edit/{{ category.id }}/" method="post">
        {{ form.as_p }}
        <input class="save" type="submit" value="{% trans 'Save' %}" />
    </form>
    <ul class="actions">
        <li><a class="view" href="/products/categories/view/{{ category.id }}">{% trans 'View' %}</a></li>
        <li><a class="delete" href="/products/categories/delete/{{ category.id }}">{% trans 'Delete' %}</a></li>
        <li><a class="categories" href="/products/categories/">{% trans 'Categories' %}</a></li>
    </ul>
{% endblock %}
