{% extends 'layout.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block title %}{% trans 'Products' %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Products' '/products/' %}
    {% add_crumb 'Categories' '/products/categories/' %}
    {% add_crumb 'Edit' %}
    {% add_crumb category %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <form action="/products/categories/edit/{{ category.id }}/" method="post">
        {{ form.as_p }}
        <input class="save" type="submit" value="{% trans 'Save' %}" />
    </form>
    <ul class="actions">
        <li><a class="view" href="/products/categories/view/{{ category.id }}">{% trans 'View' %}</a></li>
        <li><a class="delete" href="/products/categories/delete/{{ category.id }}">{% trans 'Delete' %}</a></li>
        <li><a class="categories" href="/products/categories/">{% trans 'Categories' %}</a></li>
    </ul>
{% endblock %}
