{% extends 'layout.html' %}

{% load i18n %}

{% block title %}{% trans 'Products' %}{% endblock %}

{% block breadcrumb %}<h2>{% trans 'Products' %} > {% trans 'Categories' %} > {% trans 'View' %} > {{ category }}</h2>{% endblock %}

{% block content %}
    <h3>{% trans 'Details' %}</h3>
    {{ details.as_dl }}
    <h3>{% trans 'Products' %}</h3>
    {% if category.product_set.all %}
    <div id="search">
        <form action="/products/categories/view/{{ category.id }}" method="post">
            <input type="text" name="query"/>
            <input type="submit" name="search" class="search" value="{% trans 'Search' %}"/>
        </form>
    </div>
    <table>
        <thead>
            <td>{% trans 'Name' %}</td>
            <td>{% trans 'Code' %}</td>
            <td>{% trans 'Type' %}</td>
            <td>{% trans 'Actions' %}</td>
        </thead>
        {% for product in category.product_set.all %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.code }}</td>
            <td>{% blocktrans with product.type as type %}{{ type }}{% endblocktrans %}</td>
            <td>
                <ul class="actions">
                    <li><a class="view" href="/products/view/{{ product.id }}/">{% trans 'View' %}</a></li>
                    <li><a class="edit" href="/products/edit/{{ product.id }}/">{% trans 'Edit' %}</a></li>
                    <li><a class="delete" href="/products/delete/{{ product.id }}/">{% trans 'Delete' %}</a></li>
                </ul>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p class="disabled">{% trans 'empty' %}.</p>
    {% endif %}
    <ul class="actions">
        <li><a class="edit" href="/products/categories/edit/{{ category.id }}/">{% trans 'Edit' %}</a></li>
        <li><a class="delete" href="/products/categories/delete/{{ category.id }}/">{% trans 'Delete' %}</a></li>
        <li><a class="categories" href="/products/categories/">{% trans 'Categories' %}</a></li>
    </ul>
{% endblock %}
