{% extends 'layout.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block title %}{% trans 'Warehouses' %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Warehouses' %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <h3>{% trans 'Warehouses' %}</h3>
    <div id="search">
        <form action="/warehouses/" method="post">
            <input type="text" name="query"/>
            <input type="submit" name="search" class="search" value="{% trans 'Search' %}"/>
        </form>
    </div>
    {{ warehouses.as_table }}
    <ul class="actions">
        <li><a class="add" href="/warehouses/add/">{% trans 'Add' %}</a></li>
        <li><a class="movements" href="/warehouses/movements/">{% trans 'Movements' %}</a></li>
    </ul>
{% endblock %}
