{% extends 'layout.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block title %}{% trans 'Warehouses' %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Warehouses' %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <h3>{% trans 'Warehouses' %}</h3>
    {% include 'search_box.html' %}
    {{ warehouses.as_table }}
    <ul class="actions">
        <li><a class="add" href="/warehouses/add/">{% trans 'Add' %}</a></li>
        <li><a class="movements" href="/warehouses/movements/">{% trans 'Movements' %}</a></li>
    </ul>
{% endblock %}
