{% extends 'warehouses/view.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block breadcrumbs %}
    {% add_crumb 'Warehouses' '/warehouses/' %}
    {% add_crumb warehouse warehouse.get_absolute_url %}
    {% add_crumb 'Movements' %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block page %}
    <h3>{% trans 'Movements' %}</h3>
    {% include 'search_box.html' %}
    {{ movements.as_table }}
    <ul class="actions">
        <li><a class="add" href="{{ warehouse.get_add_movement_url }}">{% trans 'Add' %}</a></li>
    </ul>
{% endblock %}
