{% extends 'layout.html' %}

{% load i18n %}

{% block title %}{% trans 'Warehouses' %}{% endblock %}

{% block breadcrumb %}<h2>{% trans 'Warehouses' %} > {% trans 'View' %} > {{ warehouse }}</h2>{% endblock %}

{% block content %}
    <h3>Details</h3>
    {{ details.as_dl }}
    <ul class="actions">
        <li><a class="edit" href="/warehouses/edit/{{ warehouse.id }}/">{% trans 'Edit' %}</a></li>
        <li><a class="delete" href="/warehouses/delete/{{ warehouse.id }}/">{% trans 'Delete' %}</a></li>
        <li><a class="warehouses" href="/warehouses/">{% trans 'Warehouses' %}</a></li>
    </ul>
{% endblock %}
