{% extends 'layout.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block title %}{% trans 'Warehouses' %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Warehouses' '/warehouses/' %}
    {% add_crumb warehouse %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <h3>{% trans 'Details' %}</h3>
    {{ details.as_dl }}
    <h3>{% trans 'Movements' %}</h3>
    <div id="search">
        <form action="{{ warehouse.get_absolute_url }}/" method="post">
            <input type="text" name="query"/>
            <input type="submit" name="search" class="search" value="{% trans 'Search' %}"/>
        </form>
    </div>
    {{ movements.as_table }}
    <ul class="actions">
        <li><a class="edit" href="/warehouses/edit/{{ warehouse.id }}/">{% trans 'Edit' %}</a></li>
        <li><a class="delete" href="/warehouses/delete/{{ warehouse.id }}/">{% trans 'Delete' %}</a></li>
        <li><a class="movements" href="/warehouses/movements/add/{{ warehouse.id }}/">{% trans 'New movement' %}</a></li>
        <li><a class="warehouses" href="/warehouses/">{% trans 'Warehouses' %}</a></li>
    </ul>    
{% endblock %}
