{% extends "base.html" %}

{% load i18n %}
{% load breadcrumbs %}
{% load details %}

{% block meta_title %}{% trans "Categories" %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb 'Categories' %}
    {% render_breadcrumbs %}
{% endblock %}

{% block title %}
<div class="title">
    <h1>{% trans "Categories" %}</h1>
</div>
{% endblock %}

{% block main %}
{% include 'elements/filterbox.html' %}
<div class="actions">
    <ul>
        {% if perms.taxonomy.add_category %}
        <li><a href="{% url category_add %}">{% trans 'Add' %}</a></li>
        {% endif %}
    </ul>
</div>
<div class="details">
    {% detail_table object_list field_names %}
    {% include "elements/paginator.html" %}
</div>
{% endblock %}
