{% extends "base.html" %}

{% load i18n %}
{% load breadcrumbs %}

{% block meta_title %}{% blocktrans %}Search results for {{ query }}{% endblocktrans %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb 'Search' %}
    {% render_breadcrumbs %}
{% endblock %}

{% block title %}
<div class="title">
    {% if query %}
    <h1>{% blocktrans %}Search results for &laquo;{{ query }}&raquo;{% endblocktrans %}</h1>
    {% else %}
    <h1>{% trans 'Search results' %}</h1>
    {% endif %}
</div>
{% endblock %}

{% block main %}
{% if object_list %}
<ul class="result-list">
    {% for object in object_list %}
    <li class="result">
        <strong>{% trans object.content_type.name|title %}</strong>: <a href="{{ object.get_absolute_url }}">{{ object.title|title }}</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<span class="disabled">{% trans "No results found." %}</span>
{% endif %}

{% include "elements/paginator.html" %}
{% endblock %}
