{% extends "partners/contact_detail.html" %}

{% load i18n %}
{% load breadcrumbs %}
{% load details %}

{% block meta_title %}{% trans "Jobs" %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb 'Partners' 'partner_list' %}
    {% add_crumb 'Contacts' 'contact_list' %}
    {% add_crumb object object.get_absolute_url %}
    {% add_crumb 'Jobs' %}
{% endblock %}

{% block subtitle %}{% trans "Jobs" %}{% endblock %}

{% block section %}
{% include 'elements/filterbox.html' %}
<div class="actions">
    <ul>
        {% if perms.partners.add_job %}
        <li class="add"><a title="{% trans 'Add' %}" href="{% url contact_add_job object.pk %}">{% trans 'Add' %}</a></li>
        {% endif %}
    </ul>
</div>
<div class="details">
    {% detail_table object_list field_names %}
    {% include 'elements/paginator.html' %}
</div>
{% endblock %}
