{% extends "partners/contact_detail.html" %}

{% load i18n %}
{% load breadcrumbs %}

{% block meta_title %}{% trans "Addresses" %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb 'Contacts' '/contacts/' %}
    {% add_crumb object object.get_absolute_url %}
    {% add_crumb 'Addresses' %}
{% endblock %}

{% block subtitle %}{% trans "Addresses" %}{% endblock %}

{% block section %}
{% include 'elements/filterbox.html' %}
<div class="actions">
    <ul>
        {% if perms.addressing.add_address %}
        <li class="add"><a title="{% trans 'Add' %}" href="{% url contact_add_address object.pk %}">{% trans 'Add' %}</a></li>
        {% endif %}
    </ul>
</div>
<div class="details">
    {% regroup object_list by type as object_by_type %}
    {% if object_by_type %}
     <dl class="addresses">
        {% for type in object_by_type %}
        {% with type.list|first as first_object %}
        <dt>{{ first_object.get_type_display|capfirst }}</dt>
        {% endwith %}
        <dd>
            <ul>
                {% for address in type.list %}
                <li>
                    {{ address }}
                    <span class="actions">
                        <ul>
                            <li class="edit"><a title="{% trans 'Edit' %}" href="{% url contact_edit_address object.pk address.pk %}">{% trans 'Edit' %}</a></li>
                            <li class="delete"><a title="{% trans 'Delete' %}" href="{% url contact_delete_address object.pk address.pk %}">{% trans 'Delete' %}</a></li>
                        </ul>
                    </span>
                </li>                
                {% endfor %}
            </ul>
        </dd>
        {% endfor %}
    </dl>
    {% else %}
    {% include "elements/empty.html" %}
    {% endif %}
    {% include "elements/paginator.html" %}
</div>
{% endblock %}
