{% extends "base_edit.html" %}

{% load breadcrumbs %}
{% load details %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb 'Partners' 'partner_list' %}
    {% if object.partner %}
    {% add_crumb object.partner object.partner.get_absolute_url %}
    {% add_crumb 'Contacts' 'partner_contacts' object.partner.pk %}
    {% if object.pk %}
    {% add_crumb object object.contact.get_absolute_url %}
    {% add_crumb 'Edit' %}
    {% else %}
    {% add_crumb 'Add' %}
    {% endif %}
    {% else %}
    {% add_crumb 'Contacts' 'contact_list' %}
    {% add_crumb object.contact object.contact.get_absolute_url %}
    {% add_crumb 'Jobs' 'contact_jobs' object.contact.pk %}
    {% if object.pk %}
    {% add_crumb object.partner object.partner.get_absolute_url %}
    {% add_crumb 'Edit' %}
    {% else %}
    {% add_crumb 'Add' %}
    {% endif %}
    {% endif %}
{% endblock %}

{% block editform %}
<table class="properties">
    {% property_table form "[['partner', 'contact', 'role'], ['started', 'ended'], 'notes']" %}
</table>
{% endblock %}
