{% extends "base.html" %}

{% load i18n %}
{% load breadcrumbs %}

{% block meta_title %}
{% if object.pk %}{% trans 'Edit partner' %}{% else %}{% trans 'Add partner' %}{% endif %}
{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb 'Partners' 'partner_list' %}
    {% if object.pk %}
    {% add_crumb object object.get_absolute_url %}
    {% add_crumb 'Edit' %}
    {% else %}
    {% add_crumb 'Add' %}
    {% endif %}
    {% render_breadcrumbs %}
{% endblock %}

{% block title %}
<div class="title">
    {% if object.pk %}
    <h1>{{ object }}</h1>
    <h2>{% trans 'Edit partner' %}</h2>
    {% else %}
    <h1>{% trans 'Add partner' %}</h1>
    {% endif %}
</div>
{% endblock %}

{% block main %}
{% if object.pk %}
<form method="post" action="{% url partner_edit object.pk %}">
{% else %}
<form method="post" action="{% url partner_add %}">
{% endif %}
    {% csrf_token %}
    {{ form.as_p }}
    <span class="submit"><input type="submit" value="{% trans 'Save' %}"/></span>
</form>
{% endblock %}
