{% extends "filebrowser/browse.html" %}

{% load i18n %}
{% load breadcrumbs %}
{% load details %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb 'Files' 'file_browse' '' %}
    {% with directory=object %}
    {% if directory.path != '' %}
    {% include "filebrowser/parent.html" %}
    {% add_crumb directory.name directory.url %}
    {% endif %}
    {% endwith %}
    {% add_crumb 'Delete' %}
{% endblock %}

{% block subtitle %}{% trans "Delete" %}{% endblock %}

{% block main %}
<div class="details">
    <form method="post" action="{% url file_delete object.url|slice:'1:' %}">
        {% csrf_token %}
        {% if object.is_link %}
        <p>{% trans "Are you sure you want to delete this link?" %}</p>
        {% else %}
        {% if object.is_directory %}
        <p>{% trans "Are you sure you want to delete this directory?" %}</p>
        {% else %}
        <p>{% trans "Are you sure you want to delete this file?" %}</p>
        {% endif %}
        {% endif %}
        <span class="submit"><input type="submit" value="{% trans "Yes, I'm sure." %}" /></span>
    </form>
</div>
{% endblock %}
