{% extends "filebrowser/serve.html" %}

{% load i18n %}
{% load breadcrumbs %}
{% load details %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb 'Files' 'file_serve' '' %}
    {% if fileinfo.path != '' %}
    {% include "filebrowser/parent.html" %}
    {% add_crumb fileinfo.name fileinfo.url %}
    {% endif %}
    {% add_crumb 'Add folder' %}
{% endblock %}

{% block subtitle %}{% trans "Add folder" %}{% endblock %}

{% block main %}
<div class="details">
    <form method="POST" action="{% url file_mkdir fileinfo.url|slice:'1:' %}">
        {% csrf_token %}
        <table class="properties">
            {{ form }}
        </table>
        {% include "elements/save_button.html" %}
        {% with fileinfo.parent.url as next %}{% include "elements/cancel_button.html" %}{% endwith %}
    </form>
</div>
{% endblock %}
