{% extends "filebrowser/browse.html" %}

{% load i18n %}
{% load breadcrumbs %}
{% load details %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb 'Files' 'file_browse' '' %}
    {% with directory=object %}
    {% if directory.path != '' %}
    {% include "filebrowser/parent.html" %}
    {% add_crumb directory.name directory.url %}
    {% endif %}
    {% endwith %}
    {% add_crumb 'Add link' %}
{% endblock %}

{% block subtitle %}{% trans "Add link" %}{% endblock %}

{% block main %}
<div class="details">
    <form action="{% url file_mkln object.url|slice:'1:' %}" method="POST">
        {% csrf_token %}
        <table class="properties">
            {{ form }}
        </table>
        <span class="submit"><input type="submit" value="{% trans 'Save' %}"/></span>
    </form>
</div>
{% endblock %}
