{% extends "filebrowser/serve.html" %}

{% load i18n %}
{% load breadcrumbs %}
{% load details %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb 'Files' 'file_serve' '' %}
    {% if fileinfo.path != '' %}
    {% include "filebrowser/parent.html" %}
    {% add_crumb fileinfo.name fileinfo.url %}
    {% endif %}
    {% add_crumb 'Upload file' %}
{% endblock %}

{% block subtitle %}{% trans "Upload file" %}{% endblock %}

{% block main %}
<div class="details">
    <form enctype="multipart/form-data" action="{% url file_upload fileinfo.url|slice:'1:' %}" method="POST">
        {% csrf_token %}
        <table class="properties">
            {{ form }}
        </table>
        <span class="submit"><input type="submit" value="{% trans 'Save' %}"/></span>
    </form>
</div>
{% endblock %}
