{% extends "hr/base.html" %}

{% load i18n %}
{% load breadcrumbs %}
{% load details %}

{% block meta_title %}{% trans "Employees" %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb 'Employees' %}
{% endblock %}

{% block subtitle %}{% trans "Employees" %}{% endblock %}

{% block section %}
{% include "elements/filterbox.html" %}
<div class="actions">
    <ul>
        {% if perms.hr.add_employee %}
        <li class="add"><a title="{% trans 'Add' %}" href="{% url employee_add %}">{% trans 'Add' %}</a></li>
        {% endif %}
    </ul>
</div>
<div class="details">
    {% detail_table object_list field_names %}
    {% include "elements/paginator.html" %}
</div>
{% endblock %}
