{% extends "base_edit.html" %}

{% load breadcrumbs %}
{% load details %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb 'Employees' 'employee_list' %}
    {% if object.pk %}
    {% add_crumb object object.get_absolute_url %}
    {% add_crumb 'Edit' %}
    {% else %}
    {% add_crumb 'Add' %}
    {% endif %}
{% endblock %}

{% block editform %}
<table class="properties">
    {% if object.pk %}
    {% property_table jform "['partner', 'role']" %}
    {% else %}
    {% property_table jform "[['contact', 'partner'], 'role']" %}
    {% endif %}
    {% property_table form "['type', ['start', 'end']]" %}
    {% property_table jform "['notes']" %}
</table>
{% endblock %}
