{% extends "documents/document_edit.html" %}

{% load i18n %}
{% load breadcrumbs %}
{% load details %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb 'Leave requests' 'leaverequest_list' %}
    {% if object.pk %}
    {% add_crumb object object.get_absolute_url %}
    {% add_crumb 'Edit' %}
    {% else %}
    {% add_crumb 'Add' %}
    {% endif %}
{% endblock %}

{% block editform %}
<table class="properties">
    {% property_table dform "['code', ['owner', 'status']]" %}
    {% property_table form "[['employee', 'type'], ['start', 'end'], 'notes']" %}
    {% property_table dform "['categories', 'tags']" %}
</table>
{% endblock %}
