{% extends "documents/document_detail.html" %}

{% load i18n %}
{% load breadcrumbs %}
{% load details %}
{% load menu %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb 'Timesheets' 'timesheet_list' %}
    {% add_crumb object %}
{% endblock %}

{% block objectactions %}
{% if perms.hr.add_timesheet %}
<li class="add"><a title="{% trans 'Add' %}" href="{% url timesheet_add %}">{% trans 'Add' %}</a></li>
{% endif %}
{% if perms.hr.change_timesheet %}
<li class="edit"><a title="{% trans 'Edit' %}" href="{% url timesheet_edit object.pk %}">{% trans 'Edit' %}</a></li>
{% endif %}
{% if perms.hr.delete_timesheet %}
<li class="delete"><a title="{% trans 'Delete' %}" href="{% url timesheet_delete object.pk %}">{% trans 'Delete' %}</a></li>
{% endif %}
{% if perms.hr.change_timesheet %}
<li class="all"><a title="{% trans 'All' %}" href="{% url timesheet_list %}">{% trans 'All' %}</a></li>
{% endif %}
{% if perms.hr.change_timesheet %}
<li class="print"><a title="{% trans 'Print' %}" href="{% url document_print object.pk object.owner.language %}">{% trans 'Print' %}</a></li>
{% endif %}
{% if perms.hr.change_timesheet %}
{% if user not in object.stream.followers.all %}
<li class="follow"><a title="{% trans 'Follow' %}" href="{% url stream_follow object.stream request.path %}">{% trans 'Follow' %}</a></li>
{% else %}
<li class="leave"><a title="{% trans 'Leave' %}" href="{% url stream_leave object.stream request.path %}">{% trans 'Leave' %}</a></li>
{% endif %}
{% endif %}
{% endblock %}

{% block objectmenu %}{% menu "timesheet_menu" %}{% endblock %}

{% block section %}
<div class="details">
    <table class="properties">
        {% property_table object "[['owner', 'status'], ['author', 'created']]" %}
        {% property_table object.content_object "[['employee', 'date'], 'working_hours']" %}
        {% property_table object "['categories', 'tags']" %}
    </table>
    {% detail_table object.content_object.entries.all "['start_time', 'end_time', 'task', 'description']" %}
</div>
{% endblock %}
