{% extends 'layout.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block title %}{% trans 'UOMs' %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'UOMs' '/uoms/' %}
    {% add_crumb 'Categories' '/uoms/categories/' %}
    {% add_crumb 'Delete' %}
    {% add_crumb category %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <form action="/uoms/categories/delete/{{ category.id }}/" method="post">
        <div class="message">
            <p class="warning">{% trans 'Are you sure you want to delete this category and all its related informations?' %}</p>
            <div class="actions">
                <input class="ok" type="submit" name="yes" value="{% trans 'Yes' %}" />
                <input class="cancel" type="submit" name="no" value="{% trans 'No' %}" />
            </div>
        </div>
    </form>
    <ul class="actions">
        <li><a class="view" href="/uoms/categories/view/{{ category.id }}">{% trans 'View' %}</a></li>
        <li><a class="delete" href="/uoms/categories/edit/{{ category.id }}">{% trans 'Edit' %}</a></li>
        <li><a class="categories" href="/uoms/categories/">{% trans 'Categories' %}</a></li>
    </ul>
{% endblock %}
