{% extends 'layout.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block title %}{% trans 'UOMs' %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'UOMs' '/uoms/' %}
    {% add_crumb 'Categories' '/uoms/categories/' %}
    {% add_crumb category %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <h3>{% trans 'Edit' %}</h3>
    <form action="/uoms/categories/edit/{{ category.id }}/" method="post">
        {{ form.as_p }}
        <div class="actions">
            <input class="save" type="submit" value="{% trans 'Save' %}" />
        </div>
    </form>
    <ul class="actions">
        <li><a class="view" href="/uoms/categories/view/{{ category.id }}">{% trans 'View' %}</a></li>
        <li><a class="delete" href="/uoms/categories/delete/{{ category.id }}">{% trans 'Delete' %}</a></li>
        <li><a class="categories" href="/uoms/categories/">{% trans 'Categories' %}</a></li>
    </ul>
{% endblock %}
