{% extends 'layout.html' %}

{% block title %}Accounts{% endblock %}

{% block breadcrumb %}<h2>Accounts</h2>{% endblock %}

{% block content %}
    <table>
        <thead>
            <td>Username</td>
        </thead>
        {% for account in accounts %}
        <tr>
            <td><a href="/accounts/view/{{ account.id }}/">{{ account.username }}</a></td>
        </tr>
        {% endfor %}
    </table>
    <div id="search">
        <form action="/accounts/" method="post">
            <input type="text" name="query"/>
            <input type="submit" name="search" value="Search" class="search"/>
        </form>
    </div>
    <ul class="actions">
        <li><a class="add" href="/accounts/add/">Add account</a></li>
    </ul>
{% endblock %}
