{% extends 'layout.html' %}

{% block title %}Accounts{% endblock %}

{% block breadcrumb %}<h2>Accounts > View > {{ user }}</h2>{% endblock %}

{% block content %}
    <h3>Details</h3>
    {{ details.as_dl }}
    <ul class="actions">
        <li><a class="edit" href="/accounts/edit/{{ user.id }}/">Edit account</a></li>
        <li><a class="delete" href="/accounts/delete/{{ user.id }}/">Delete account</a></li>
        <li><a class="people" href="/accounts/">Accounts</a></li>
    </ul>
{% endblock %}
