{% extends 'layout.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block title %}{% trans 'UOMs' %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'UOMs' '/uoms/' %}
    {% add_crumb 'Add' %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <form action="/uoms/add/" method="post">
        {{ form.as_p }}
        <input class="save" type="submit" value="{% trans 'Save' %}"/>
    </form>
    <ul class="actions">
        <li><a class="uoms" href="/uoms/">{% trans 'UOMs' %}</a></li>
    </ul>
{% endblock %}
