{% extends 'layout.html' %}

{% load i18n %}

{% block title %}{% trans 'UOMs' %}{% endblock %}

{% block breadcrumb %}<h2>{% trans 'UOMs' %} > {% trans 'Edit' %} > {{ uom }}</h2>{% endblock %}

{% block content %}
    <form action="/uoms/edit/{{ uom.id }}/" method="post">
        {{ form.as_p }}
        <input class="save" type="submit" value="{% trans 'Save' %}" />
    </form>
    <ul class="actions">
        <li><a class="view" href="/uoms/view/{{ uom.id }}">{% trans 'View' %}</a></li>
        <li><a class="delete" href="/uoms/delete/{{ uom.id }}">{% trans 'Delete' %}</a></li>
        <li><a class="uoms" href="/uoms/">{% trans 'UOMs' %}</a></li>
    </ul>
{% endblock %}
