{% extends 'layout.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block title %}{% trans 'UOMs' %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'UOMs' '/uoms/' %}
    {% add_crumb 'View' %}
    {% add_crumb uom %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <h3>{% trans 'Details' %}</h3>
    {{ details.as_dl }}
    <ul class="actions">
        <li><a class="edit" href="/uoms/edit/{{ uom.id }}/">{% trans 'Edit' %}</a></li>
        <li><a class="delete" href="/uoms/delete/{{ uom.id }}/">{% trans 'Delete' %}</a></li>
        <li><a class="uoms" href="/uoms/">{% trans 'UOMs' %}</a></li>
    </ul>
{% endblock %}
