{% extends 'layout.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block title %}{% trans 'Accounts' %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Accounts' '/accounts/' %}
    {% add_crumb 'Add' %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <form action="/accounts/add/" method="post">
        {{ form.as_p }}
        <input class="save" type="submit" value="{% trans 'Save' %}"/>
    </form>
    <ul class="actions">
        <li><a class="people" href="/accounts/">{% trans 'Accounts' %}</a></li>
    </ul>
{% endblock %}
