{% extends 'layout.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block title %}{% trans 'Accounts' %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Accounts' '/accounts/' %}
    {% add_crumb account %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <h3>{% trans 'Edit' %}</h3>
    <form action="." method="post">
        {{ form.as_p }}
        <div class="actions">
            <input class="save" type="submit" value="{% trans 'Save' %}" />
        </div>
    </form>
    <ul class="actions">
        <li><a class="view" href="/accounts/view/{{ account.id }}">{% trans 'View' %}</a></li>
        <li><a class="delete" href="/accounts/delete/{{ account.id }}">{% trans 'Delete' %}</a></li>
        <li><a class="accounts" href="/accounts/">{% trans 'Accounts' %}</a></li>
    </ul>
{% endblock %}
