{% extends 'layout.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block title %}{% trans 'Accounts' %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Accounts' '/accounts/' %}
    {% add_crumb user %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <h3>{% trans 'Edit' %}</h3>
    <form action="/accounts/edit/{{ user.id }}/" method="post">
        {{ form.as_p }}
        <input class="save" type="submit" value="{% trans 'Save' %}" />
    </form>
    <ul class="actions">
        <li><a class="view" href="/accounts/view/{{ user.id }}">{% trans 'View' %}</a></li>
        <li><a class="delete" href="/accounts/delete/{{ user.id }}">{% trans 'Delete' %}</a></li>
        <li><a class="accounts" href="/accounts/">{% trans 'Accounts' %}</a></li>
    </ul>
{% endblock %}
