{% extends 'layout.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block title %}{% trans 'Accounts' %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Accounts' %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <h3>{% trans 'Accounts' %}</h3>
    <div id="search">
        <form action="/accounts/" method="post">
            <input type="text" name="query"/>
            <input type="submit" name="search" class="search" value="{% trans 'Search' %}"/>
        </form>
    </div>
    {% if accounts.object_list %}
    <table>
        <thead>
            <td>{% trans 'Username' %}</td>
            <td>{% trans 'Firstname' %}</td>
            <td>{% trans 'Lastname' %}</td>
            <td>{% trans 'Actions' %}</td>
        </thead>
        {% for account in accounts.object_list %}
        <tr>
            <td>{{ account.username }}</td>
            <td>{{ account.first_name|default:'<span class="disabled">empty.</span>' }}</td>
            <td>{{ account.last_name|default:'<span class="disabled">empty.</span>' }}</td>
            <td>
                <ul class="actions">
                    <li><a class="view" href="/accounts/view/{{ account.id }}/">{% trans 'View' %}</a></li>
                    <li><a class="edit" href="/accounts/edit/{{ account.id }}/">{% trans 'Edit' %}</a></li>
                    <li><a class="delete" href="/accounts/delete/{{ account.id }}/">{% trans 'Delete' %}</a></li>
                </ul>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% with accounts as pages %}{% include 'paginator.html' %}{% endwith %}
    {% else %}
    <p class="disabled">{% trans 'empty' %}.</p>
    {% endif %}
    <ul class="actions">
        <li><a class="add" href="/accounts/add/">{% trans 'Add' %}</a></li>
    </ul>
{% endblock %}
