{% extends 'layout.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block title %}{% trans 'Accounts' %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Accounts' '/accounts/' %}
    {% add_crumb 'View' %}
    {% add_crumb user %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <h3>{% trans 'Details' %}</h3>
    {{ details.as_dl }}
    <ul class="actions">
        <li><a class="edit" href="/accounts/edit/{{ user.id }}/">{% trans 'Edit' %}</a></li>
        <li><a class="delete" href="/accounts/delete/{{ user.id }}/">{% trans 'Delete' %}</a></li>
        <li><a class="accounts" href="/accounts/">{% trans 'Accounts' %}</a></li>
    </ul>
{% endblock %}
