{% extends 'accounts/layout.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block breadcrumbs %}
    {% add_crumb 'Accounts' '/accounts/' %}
    {% add_crumb account %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <ul class="menu">
        <li><a class="view" href="{{ account.get_absolute_url }}">{% trans 'Details' %}</a></li>
        <li><a class="people" href="{{ account.get_groups_url }}">{% trans 'Groups' %}</a></li>
        <li><a class="accounts" href="{{ account.get_permissions_url }}">{% trans 'Permissions' %}</a></li>
    </ul>
    {% block page %}
    <h3>{% trans 'Details' %}</h3>
    {{ details.as_dl }}
    {% endblock %}
    <ul class="actions">
        <li><a class="edit" href="{{ account.get_edit_url }}">{% trans 'Edit' %}</a></li>
        <li><a class="delete" href="{{ account.get_delete_url }}">{% trans 'Delete' %}</a></li>
    </ul>
{% endblock %}
