{% extends 'layout.html' %}

{% load i18n %}

{% block title %}{% trans 'Accounts' %}{% endblock %}

{% block breadcrumb %}<h2>{% trans 'Accounts' %} > {% trans 'View' %} > {{ user }}</h2>{% endblock %}

{% block content %}
    <h3>{% trans 'Details' %}</h3>
    {{ details.as_dl }}
    <ul class="actions">
        <li><a class="edit" href="/accounts/edit/{{ user.id }}/">{% trans 'Edit' %}</a></li>
        <li><a class="delete" href="/accounts/delete/{{ user.id }}/">{% trans 'Delete' %}</a></li>
        <li><a class="people" href="/accounts/">{% trans 'Accounts' %}</a></li>
    </ul>
{% endblock %}
