{% extends 'accounts/layout.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block breadcrumbs %}
    {% add_crumb 'Accounts' '/accounts/' %}
    {% add_crumb 'Groups' '/accounts/groups/' %}
    {% add_crumb group %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <h3>{% trans 'Edit' %}</h3>
    <form action="." method="post">
        {{ form.as_p }}
        <div class="actions">
            <input class="save" type="submit" value="{% trans 'Save' %}" />
        </div>
    </form>
    <ul class="actions">
        <li><a class="view" href="{{ group.get_absolute_url }}">{% trans 'View' %}</a></li>
        <li><a class="delete" href="{{ group.get_delete_url }}">{% trans 'Delete' %}</a></li>
    </ul>
{% endblock %}
