{% extends "base.html" %}

{% load i18n %}
{% load markup %}
{% load comments %}
{% load breadcrumbs %}
{% load navigator %}
{% load avatar %}

{% block meta_title %}{{ object|striptags|capfirst }}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb 'FAQs' '/faq/' %}
    {% add_crumb object %}
{% endblock %}

{% block title %}
<div class="title">
    <h1>{{ object|escape|capfirst }}</h1>
</div>
{% endblock %}

{% block main %}
<div class="actions">
    <ul>
        {% if perms.knowledge.add_faq %}
        <li class="add"><a title="{% trans 'Add' %}" href="{% url faq_add %}">{% trans 'Add' %}</a></li>
        {% endif %}
        {% if perms.knowledge.change_faq %}
        <li class="edit"><a title="{% trans 'Edit' %}" href="{% url faq_edit object.pk %}">{% trans 'Edit' %}</a></li>
        {% endif %}
        {% if perms.knowledge.delete_faq %}
        <li class="delete"><a title="{% trans 'Delete' %}" href="{% url faq_delete object.pk %}">{% trans 'Delete' %}</a></li>
        {% endif %}
        {% if perms.knowledge.change_faq %}
        <li class="all"><a title="{% trans 'All' %}" href="{% url faq_list %}">{% trans 'All' %}</a></li>
        {% endif %}
    </ul>
</div>
{% objects_from object %}
{% with objects as object_list %}
{% include 'elements/navigator.html' %}
{% endwith %}
<div class="details">
    {{ object.question|markdown }}
    <p>
        {% include "elements/categories.html" %}
        {% include "elements/tags.html" %}
    </p>
</div>
{% get_comment_list for object as comment_list %}
{% if comment_list or object.allow_comments %}
<div id="comments">
    <h3>{% trans "Answers" %}</h3>
    {% if comment_list %}
    <ul>
        {% for comment in comment_list %}
        <li{% if forloop.counter|divisibleby:"2" %} class="altrow"{% endif %}>
            <div class="meta">
                {% with comment.user_name as user_name %}
                {% with comment.user.get_absolute_url as user_link %}
                {% with comment.submit_date as submit_date %}
                {% avatar comment.user %}
                <p>{% blocktrans %}Posted on {{ submit_date }}{% endblocktrans %}{% if comment.user %}{% blocktrans %} by <a href="{{ user_link }}">{{ user_name }}</a>{% endblocktrans %}{% endif %}</p>
                {% endwith %}
                {% endwith %}
                {% endwith %}
                <ul class="actions">
                    {% if perms.comments.can_delete %}
                    <li class="delete"><a title="{% trans 'Delete' %}" href="{% url comment_delete comment.id %}">{% trans "Delete" %}</a></li>
                    {% endif %}
                </ul>
            </div>
            {{ comment.comment|markdown }}
        </li>
        {% endfor %}
    </ul>
    {% get_comment_count for object as comment_count %}
    <p class="comment-counter">{% blocktrans %}<strong>{{ comment_count }}</strong> answer(s){% endblocktrans %}</p>
    {% else %}
    <p class="disabled">{% trans "No answers." %}</p>
    {% endif %}
    {% if object.allow_comments and user.is_authenticated %}
    <h3>{% trans "Add answer" %}</h3>
    {% get_comment_form for object as form %}
    <form action="{% comment_form_target %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ object.get_absolute_url }}" />
        {% for field in form.hidden_fields %}
        {{ field }}
        {% endfor %}
        <p>
            {{ form.comment }}
            {% blocktrans %}Use <a href="http://daringfireball.net/projects/markdown/syntax">MarkDown syntax</a>.{% endblocktrans %}
        </p>
        <span class="submit"><input type="submit" name="post" value="{% trans 'Post' %}"></span>
    </form>
    {% endif %}
</div>
{% endif %}
{% endblock %}
