{% extends "base.html" %}

{% load i18n %}
{% load breadcrumbs %}
{% load details %}

{% block meta_title %}{% if object.slug and object.pk %}{% trans 'Edit page' %}{% else %}{% trans 'Add page' %}{% endif %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb 'Wiki' '/wiki/' %}
    {% if object.slug %}
    {% add_crumb object object.get_absolute_url %}
    {% endif %}
    {% if object.pk %}
    {% add_crumb 'Edit' %}
    {% else %}
    {% add_crumb 'Add' %}
    {% endif %}
{% endblock %}

{% block title %}
<div class="title">
    <h1>{% if object.slug and object.pk %}{% trans 'Edit page' %}{% else %}{% trans 'Add page' %}{% endif %}</h1>
</div>
{% endblock %}

{% block main %}
{% if object.slug %}
<form method="post" action="{% url wikipage_edit object.slug %}">
{% else %}
<form method="post" action="{% url wikipage_add %}">
{% endif %}
    {% csrf_token %}
    <table class="properties">
        {% property_table form "[['slug', 'language'], 'body', 'categories', 'tags', 'allow_comments']" %}
    </table>
    <span class="submit"><input type="submit" value="{% trans 'Save' %}"/></span>
</form>
{% endblock %}
