{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE }}">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="XXXXXXX" />
        <meta name="description" content="XXXXXXX" />
        <meta name="copyright" content="Copyright 2010 Emanuele Bertoldi" />
        <link rel="stylesheet" type="text/css" href="/media/css/default/tripoli.simple.css" /> 
        <!--[if IE]><link rel="stylesheet" type="text/css" href="/media/css/default/tripoli.simple.ie.css" /><![endif]-->
        <link rel="stylesheet" href="/media/css/default/style.css" type="text/css" charset="utf-8" />
        {% block js %}
        {% endblock %}
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <div id="logo">
                    <h1>Prometeo</h1>
                    <h2>Free your work. Free your business.</h2>
                </div>
            </div>
            <div id="nav">
                {% block nav %}
                {% include "accounts/userarea.html" %}
                {% include "menu/menubar.html" %}
                <div id="breadcrumbs">
                    {% block breadcrumbs %}
                    {% endblock %}
                </div>
                {% endblock %}
            </div>
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
            <div id="footer">
                <h6 id="copyright">&copy; {% now "Y" %} <a href="mailto:zuck@fastwebnet.it">Emanuele Bertoldi</a> {% trans 'unless otherwise noted' %}. {% blocktrans %}<em>Prometeo</em> is powered by <a href="http://www.djangoproject.com/">Django</a>{% endblocktrans %}.</h6>
            </div>
        </div>
    </body>
</html>
