{% load i18n %}

<div class="paginator">
    <span class="previous">
    {% if pages.has_previous %}
    <a href="?page={{ pages.previous_page_number }}"><span>&laquo;</span></a>
    {% else %}
    <span class="disabled">&laquo;</span>
    {% endif %}
    </span>
    
    {% with pages.number as number %}
    {% with pages.paginator.num_pages as num_pages %}
    <span class="current">{% blocktrans %}Page {{ number }} of {{ num_pages }}{% endblocktrans %}</span>
    {% endwith %}
    {% endwith %}
    
    <span class="next">
    {% if pages.has_next %}
    <a href="?page={{ pages.next_page_number }}"><span>&raquo;</span></a>
    {% else %}
    <span class="disabled">&raquo;</span>
    {% endif %}
    </span>
</div>
