{% extends "admin/base.html" %}
{% load i18n adminmedia %}

{% block bodyclass %}change-list wysiwyg{% endblock %}

{% block extrastyle %}{{ block.super }}

	<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />

	<script type="text/javascript" src="{% admin_media_prefix %}js/core.js"></script> 
	<script type="text/javascript" src="{% admin_media_prefix %}js/getElementsBySelector.js"></script>
	<script type="text/javascript" src="{% admin_media_prefix %}js/actions.js"></script>
	<script type="text/javascript" src="{% admin_media_prefix %}js/jquery.min.js"></script>
    <script type="text/javascript" src="{% admin_media_prefix %}js/jquery.init.js"></script>
    <script type="text/javascript" src="{% admin_media_prefix %}js/actions.min.js"></script>
    <script type="text/javascript">
    (function($) {
        $(document).ready(function($) {
            $("tr input.action-select").actions();
        });
    })(django.jQuery);
    </script>

{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
	<a href="{% url admin_wysiwyg_index %}../../">{% trans "Home" %}</a> &rsaquo;
	{% trans "File Manager" %}
</div>
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content %}

<div id="content-main">

	<h1>Directory: '/{{ directory.url }}'</h1>

    {% block object-tools %}
		<ul class="object-tools">
		    {% if directory.url %}
		    <li><a href="{% url admin_wysiwyg_list directory.parent %}" class="parentlink">{% trans 'Up to Parent' %}</a></li>
		    {% endif %}
	
			{% if directory.can_write %}

			{% if perms.wysiwyg.can_create_dir %}
			<li><a href="{% url admin_wysiwyg_mkdir directory.url %}" class="addlink">{% trans 'Create Directory' %}</a></li>
			{% endif %}

			{% if perms.wysiwyg.can_create_link %}
			<li><a href="{% url admin_wysiwyg_mkln directory.url %}" class="addlink">{% trans 'Create Link' %}</a></li>
			{% endif %}

			{% if perms.wysiwyg.can_upload_file %}
			<li><a href="{% url admin_wysiwyg_upload directory.url %}" class="addlink">{% trans 'Upload File' %}</a></li>
			{% endif %}
			
			{% endif %}
        </ul>
    {% endblock %}
  
	<div class="module" id="changelist">
	<form action="" method="post">
    {% csrf_token %}

	<div class="actions">
		<label>Action: 
		<select name="action"> 
			<option value="" selected="selected">---------</option>
			<option value="delete_selected">{% trans "Delete selected items" %}</option>
		</select>
		</label>
		<button type="submit" class="button" title="Run the selected action" name="index" value="0">{% trans "Go" %}</button>
	</div>

<table cellspacing="0">
	<thead>
	<tr>
		<th> 
		<input style="display: inline;" id="action-toggle" type="checkbox">

		</th>
		<th>{% trans "Name" %}</th>
		<th>{% trans "Size" %}</th>
		<th>{% trans "Permissions" %}</th>
		<th>{% trans "Created" %}</th>
		<th>{% trans "Modified" %}</th>
		<th>{% trans "User" %}</th>
		<th>{% trans "Group" %}</th>
		<th colspan="5">{% trans "Actions" %}</th>
	</tr>
	</thead>
	<tbody>

{% regroup files|dictsortreversed:"directory" by directory as file_list %}

{% for dfile in file_list %}

{% for file in dfile.list|dictsort:"filename" %}
	<tr class="{% cycle 'row1' 'row2' %}">
		<td><input class="action-select" value="{{ file.fileurl }}" name="_selected_action" type="checkbox"></td>
		<td>
			{% if file.directory %}
				<span class="folder"><span class="label">[Folder]</span></span>
			{% else %}
				
				<span class="{% if not file.can_edit %}binary{% endif %}file"><span class="label">[File]</span></span>
			{% endif %}	

            {% if file.link %}
				<span class="{% if file.broken_link %}broken_{% endif %}link">
					<span class="label">[{% if file.broken_link %}Broken {% endif %}Link]</span>
				</span>
            {% endif %}

			{% if file.broken_link %}
				{{ file.filename }}
			{% else %}
				<a title="{{ file.link_src }}" href="{% if file.directory %}{% url admin_wysiwyg_list file.fileurl %}{% else %}/{{ file.fileurl }}{% endif %}">{{ file.filename }}</a>
			{% endif %}
		</td>
		<td>
			{{ file.size|filesizeformat }}
		</td>
		<td>{{ file.perms }}</td>
		<td>{{ file.ctime|date:"m/d/Y" }}</td>
		<td>{{ file.mtime|date:"m/d/Y" }}</td>
		<td>{{ file.user }}</td>
		<td>{{ file.group }}</td>
		
		{% if request.session.GET.CKEditor %}
		<td>
			{% if file.directory %}
			<span class="disabled">{% trans "Select" %}</span>
		    {% else %}
		    <a href="{% url admin_wysiwyg_select file.fileurl %}" class="selectlink">{% trans "Select" %}</a>
			{% endif %}
		</td>
		{% endif %}
		<td>
			{% if directory.can_write %}
				{% if file.directory and perms.wysiwyg.can_rename_dir %}
				<a href="{% url admin_wysiwyg_rename file.fileurl %}" class="changelink">{% trans "Rename" %}</a>
				{% endif %}

				{% if not file.directory and perms.wysiwyg.can_rename_file %}
				<a href="{% url admin_wysiwyg_rename file.fileurl %}" class="changelink">{% trans "Rename" %}</a>
				{% endif %}
			{% endif %}
		</td>
		<td>
			{% if directory.can_write %}
				{% if file.directory and perms.wysiwyg.can_copy_dir %}
				<a href="{% url admin_wysiwyg_copy file.fileurl %}" class="savelink">{% trans "Copy" %}</a>
				{% endif %}

				{% if not file.directory and perms.wysiwyg.can_copy_file %}
				<a href="{% url admin_wysiwyg_copy file.fileurl %}" class="savelink">{% trans "Copy" %}</a>
				{% endif %}
			{% endif %}
        </td>
		<td>
			{% if directory.can_write %}
				{% if file.directory and perms.wysiwyg.can_move_dir %}
				<a href="{% url admin_wysiwyg_move file.fileurl %}" class="movelink">{% trans "Move" %}</a>
				{% endif %}

				{% if not file.directory and perms.wysiwyg.can_move_file %}
				<a href="{% url admin_wysiwyg_move file.fileurl %}" class="movelink">{% trans "Move" %}</a>
				{% endif %}
			{% endif %}
		</td>
		<td>
			{% if directory.can_write %}
				{% if file.directory and perms.wysiwyg.can_delete_dir %}
				<a href="{% url admin_wysiwyg_delete file.fileurl %}" class="deletelink">{% trans "Delete" %}</a>
				{% endif %}
				
				{% if not file.directory and perms.wysiwyg.can_delete_file %}
				<a href="{% url admin_wysiwyg_delete file.fileurl %}" class="deletelink">{% trans "Delete" %}</a>
				{% endif %}

			{% endif %}
		</td>
	</tr>
{% endfor %}

{% endfor %}
	</tbody>
</table>

<p class="paginator">
	{{ files|length }} item{{ files|pluralize }}
</p>

</div>

</form>
{% endblock %}
