{% extends "auth/user_detail.html" %}

{% load i18n %}
{% load breadcrumbs %}
{% load details %}

{% block meta_title %}{% trans "Notifications" %}{% endblock %}

{% block subtitle %}{% trans "Notifications" %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb 'Users' 'user_list' %}
    {% add_crumb object object.get_absolute_url %}
    {% add_crumb 'Notifications' %}
    {% render_breadcrumbs %}
{% endblock %}

{% block menu %}
<li><a href="{{ object.get_absolute_url }}">{% trans 'Profile' %}</a></li>
<li><a href="{% url bookmark_list object.username %}">{% trans 'Bookmarks' %}</a></li>
<li class="active"><a href="{% url notification_list object.username %}">{% trans 'Notifications' %}</a></li>
{% endblock %}

{% block section %}
{% include 'elements/filterbox.html' %}
<div class="details">
    {% if object_list %}
    <ul class="notifications">
        {% for notification in object_list %}
        <li{% if notification.read %} class="read"{% endif %}><strong>{{ notification.created }}</strong> <a href="{{ notification.get_absolute_url }}">{{ notification.title }}</a>{% if notification.read %} <span class="read-on">({{ notification.read }})</span>{% endif %}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="disabled">{% trans "No results found." %}</p>
    {% endif %}
    {% include 'elements/paginator.html' %}
    <form class="notification-form" method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <span class="submit"><input type="submit" value="{% trans 'Save' %}" /></span>
    </form>
</div>
{% endblock %}
