{% extends "base.html" %}

{% load i18n %}
{% load breadcrumbs %}
{% load navigator %}
{% load details %}

{% block meta_title %}{{ object }}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb 'Users' 'user_list' %}
    {% add_crumb object.user object.user.get_absolute_url %}
    {% add_crumb 'Notifications' 'notification_list' object.user.username %}
    {% add_crumb object %}
{% endblock %}

{% block title %}
<div class="title">
    <h1>{{ object|capfirst }}</h1>
</div>
{% endblock %}

{% block main %}
<div class="actions">
    <ul>
        {% if request.user == object.user or perms.notifications.delete_notification %}
        <li class="delete"><a title="{% trans 'Delete' %}" href="{% url notification_delete object.user.username object.pk %}">{% trans 'Delete' %}</a></li>
        {% endif %}
        {% if perms.notifications.change_notification %}
        <li class="all"><a title="{% trans 'All' %}" href="{% url notification_list object.user.username %}">{% trans 'All' %}</a></li>
        {% endif %}
    </ul>
</div>
{% include 'elements/navigator.html' %}
<div class="details">
    <table class="properties">
        {% property_table object "[['created', 'read'], 'description']" %}
    </table>
</div>
{% endblock %}
