{% extends "base.html" %}

{% load i18n %}
{% load markup %}
{% load breadcrumbs %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb 'Tasks' 'task_list' %}
    {% if not object.planned %}
    {% add_crumb 'Unplanned' 'unplanned_task_list' %}
    {% endif %}
    {% add_crumb object %}
    {% render_breadcrumbs %}
{% endblock %}

{% block title %}
<div class="title">
    <h1>{{ object }}</h1>
</div>
{% endblock %}

{% block main %}
<div class="actions">
    <ul>
        {% if perms.todo.add_task %}
        <li class="add"><a title="{% trans 'Add' %}" href="{% url task_add %}">{% trans 'Add' %}</a></li>
        {% endif %}
        {% if perms.todo.change_task %}
        <li class="edit"><a title="{% trans 'Edit' %}" href="{% url task_edit object.pk %}">{% trans 'Edit' %}</a></li>
        {% endif %}
        {% if perms.todo.delete_task %}
        <li class="delete"><a title="{% trans 'Delete' %}" href="{% url task_delete object.pk %}">{% trans 'Delete' %}</a></li>
        {% endif %}
        {% if perms.todo.change_task %}
        <li class="all"><a title="{% trans 'All' %}" href="{% url task_list %}">{% trans 'All' %}</a></li>
        {% endif %}
    </ul>
</div>
{% include 'elements/navigator.html' %}
<div class="details">
    <table class="properties">
        <tr>
            <th>{% trans "Status" %}:</th>
            <td colspan="3">
                {% if object.closed %}
                {% trans "Closed" %}{% if object.expired %} <span class="delay">({{ object.end|timesince }} {% trans "overdue" %})</span>{% endif %}
                {% else %}
                {% if object.expired %}
                {% trans "Expired" %}{% if object.expired %} <span class="delay">({{ object.end|timesince }} {% trans "overdue" %})</span>{% endif %}
                {% else %}
                {% trans "Open" %}
                {% endif %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>{% trans "Created on" %}:</th>
            <td>{% if object.created %}{{ object.created }}{% else %}<span class="disabled">{% trans "empty" %}</span>{% endif %}</td>
            <th>{% trans "Closed on" %}:</th>
            <td>{% if object.closed %}{{ object.closed }}{% else %}<span class="disabled">{% trans "empty" %}</span>{% endif %}</td>
        </tr>
        <tr>
            <th>{% trans "Start date" %}:</th>
            <td>{% if object.start %}{{ object.start }}{% else %}<span class="disabled">{% trans "empty" %}</span>{% endif %}</td>
            <th>{% trans "End date" %}:</th>
            <td>{% if object.end %}{{ object.end }}{% else %}<span class="disabled">{% trans "empty" %}</span>{% endif %}</td>
        </tr>
        <tr>
            <th>{% trans "Tags" %}:</th>
            <td colspan="3">{% for tag in object.tags.all %} <a class="tag" href="{{ tag.get_absolute_url }}">{{ tag }}</a>{% if not forloop.last %},{% endif %}{% empty %}<span class="disabled">{% trans "empty" %}</span>{% endfor %}</td>
        </tr>
        <tr>
            <th>{% trans "Categories" %}:</th>
            <td colspan="3">{% for category in object.categories.all %} <a class="category" href="{{ category.get_absolute_url }}">{{ category }}</a>{% if not forloop.last %},{% endif %}{% empty %}<span class="disabled">{% trans "empty" %}</span>{% endfor %}</td>
        </tr>
        <tr>
            <th>{% trans "Description" %}:</th>
            <td colspan="3">
                <div class="entry">
                    {% if object.description %}
                    {{ object.description|safe }}
                    {% else %}
                    <span class="disabled">{% trans "empty" %}</span>
                    {% endif %}
                </div>
            </td>
        </tr>
    </table>
</div>
<ul>
    {% if not object.closed %}
    <li><span class="submit"><a title="{% trans 'Close' %}" href="{% url task_close object.pk %}">{% trans 'Close' %}</a></span></li>
    {% else %}
    <li><span class="submit"><a title="{% trans 'Reopen' %}" href="{% url task_reopen object.pk %}">{% trans 'Reopen' %}</a></span></li>
    {% endif %}
</ul>
{% endblock %}
