{% extends "todo/task_list.html" %}

{% load i18n %}
{% load breadcrumbs %}
{% load details %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb 'Tasks' 'task_list' %}
    {% add_crumb 'Timesheets' %}
{% endblock %}

{% block subtitle %}{% trans "Timesheets" %}{% endblock %}

{% block section %}
<div class="actions">
    <ul>
        {% if perms.todo.add_timesheet %}
        <li class="add"><a title="{% trans 'Add' %}" href="{% url timesheet_add %}">{% trans 'Add' %}</a></li>
        {% endif %}
    </ul>
</div>
{% include 'elements/filterbox.html' %}
<div class="details">
    {% detail_table object_list field_names %}
    {% include 'elements/paginator.html' %}
</div>
{% endblock %}
