{% load i18n %}

{% if author and author_link %}
{% blocktrans %}
<p>The following attributes of {{ class }} <a href="{{ link }}">{{ name }}</a> has been changed by <a href="{{ author_link }}">{{ author }}</a>:</p>
{% endblocktrans %}
{% else %}
{% blocktrans %}
<p>The following attributes of {{ class }} <a href="{{ link }}">{{ name }}</a> has been changed:</p>
{% endblocktrans %}
{% endif %}
<dl>
{% for fieldname, values in changes.items %}
    <dt>{{ fieldname|capfirst }}</dt>
    <dd>
        {% with values|first|safe as old_value %}
        {% with values|last|safe as new_value %}
        {% blocktrans %}from <em>{{ old_value }}</em> to <em>{{ new_value }}</em>{% endblocktrans %}
        {% endwith %}
        {% endwith %}
    </dd>
{% endfor %}
</dl>
