{% extends "base.html" %}

{% load i18n %}
{% load breadcrumbs %}
{% load details %}
{% load menu %}

{% block meta_title %}{% trans "Products" %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb 'Products' %}
{% endblock %}

{% block title %}
<div class="title">
    <h1>{% trans "Products" %}</h1>
</div>
{% endblock %}

{% block main %}
{% include 'elements/filterbox.html' %}
<div class="actions">
    <ul>
        {% if perms.products.add_product %}
        <li class="add"><a title="{% trans 'Add' %}" href="{% url product_add %}">{% trans 'Add' %}</a></li>
        {% endif %}
    </ul>
</div>
<div class="details">
    {% detail_table object_list field_names %}
    {% include 'elements/paginator.html' %}
</div>
{% endblock %}
