{% extends "base_edit.html" %}

{% load breadcrumbs %}
{% load details %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb 'Products' 'product_list' %}
    {% if object.pk %}
    {% add_crumb object object.get_absolute_url %}
    {% add_crumb 'Edit' %}
    {% else %}
    {% add_crumb 'Add' %}
    {% endif %}
{% endblock %}

{% block editform %}
<table class="properties">
    {% property_table form "['name', ['code', 'ean13'], ['uom', 'uos'], ['uom_to_uos', 'weight'], ['is_consumable', 'is_service'], ['sales_price', 'sales_currency'], ['max_sales_discount', 'sales_tax'], 'description', 'categories', 'tags', 'allow_comments']" %}
</table>
{% endblock %}
