{% extends "base.html" %}

{% load i18n %}
{% load breadcrumbs %}
{% load details %}

{% block meta_title %}
{% if object.pk %}{% trans 'Edit supply' %}{% else %}{% trans 'Add supply' %}{% endif %}
{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb 'Products' 'product_list' %}
    {% add_crumb object.product object.product.get_absolute_url %}
    {% add_crumb 'Supplies' 'product_supplies' object.product.pk %}
    {% if object.pk %}
    {% add_crumb object.supplier object.get_absolute_url %}
    {% add_crumb 'Edit' %}
    {% else %}
    {% add_crumb 'Add' %}
    {% endif %}
{% endblock %}

{% block title %}
<div class="title">
    {% if object.pk %}
    <h1>{{ object }}</h1>
    <h2>{% trans 'Edit supply' %}</h2>
    {% else %}
    <h1>{% trans 'Add supply' %}</h1>
    {% endif %}
</div>
{% endblock %}

{% block main %}
{% if object.pk %}
<form method="post" action="{% url product_edit_supply object.product.pk object.pk %}">
{% else %}
<form method="post" action="{% url product_add_supply object.product.pk %}">
{% endif %}
    {% csrf_token %}
    <table class="properties">
        {% property_table form "[['name', 'code'], ['supplier', 'supply_method'], ['purchase_price', 'max_purchase_discount'], ['minimal_quantity', 'lead_time'], 'payment_terms', ['warranty_period', 'end_of_life']]" %}
    </table>
    <span class="submit"><input type="submit" value="{% trans 'Save' %}"/></span>
</form>
{% endblock %}
