{% extends 'products/layout.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block breadcrumbs %}
    {% add_crumb 'Products' '/products/' %}
    {% add_crumb 'UOMs' '/products/uoms/' %}
    {% add_crumb 'Add' %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <h3>{% trans 'Add' %}</h3>
    <form action="." method="post">
        {{ form.as_p }}
        <div class="actions">
            <input class="save" type="submit" value="{% trans 'Save' %}" />
        </div>
    </form>
{% endblock %}
