{% extends 'layout.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block title %}{% trans 'Products' %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Products' '/products/' %}
    {% add_crumb 'UOMs' %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <h3>{% trans 'UOMs' %}</h3>
    <div id="search">
        <form action="/products/uoms/" method="post">
            <input type="text" name="query"/>
            <input type="submit" name="search" class="search" value="{% trans 'Search' %}"/>
        </form>
    </div>
    {% if uoms %}
    <table>
        <thead>
            <td>{% trans 'Name' %}</td>
            <td>{% trans 'Initials' %}</td>
            <td>{% trans 'Category' %}</td>
            <td>{% trans 'Actions' %}</td>
        </thead>
        {% for uom in uoms %}
        <tr>
            <td>{{ uom.name }}</td>
            <td>{{ uom.initials }}</td>
            <td><a href="/products/uoms/categories/view/{{ uom.category.id }}/">{{ uom.category }}</a></td>
            <td>
                <ul class="actions">
                    <li><a class="view" href="/products/uoms/view/{{ uom.id }}/">{% trans 'View' %}</a></li>
                    <li><a class="edit" href="/products/uoms/edit/{{ uom.id }}/">{% trans 'Edit' %}</a></li>
                    <li><a class="delete" href="/products/uoms/delete/{{ uom.id }}/">{% trans 'Delete' %}</a></li>
                </ul>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p class="disabled">{% trans 'empty' %}.</p>
    {% endif %}
    <ul class="actions">
        <li><a class="add" href="/products/uoms/add/">{% trans 'Add' %}</a></li>
        <li><a class="categories" href="/products/uoms/categories/">{% trans 'Categories' %}</a></li>
        <li><a class="products" href="/products/">{% trans 'Products' %}</a></li>
    </ul>
{% endblock %}
