{% extends 'layout.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block title %}{% trans 'Products' %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Products' '/products/' %}
    {% add_crumb 'UOMs' %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <h3>{% trans 'UOMs' %}</h3>
    {% include 'search_box.html' %}
    {{ uoms.as_table }}
    <ul class="actions">
        <li><a class="add" href="/products/uoms/add/">{% trans 'Add' %}</a></li>
        <li><a class="categories" href="/products/uoms/categories/">{% trans 'Categories' %}</a></li>
        <li><a class="products" href="/products/">{% trans 'Products' %}</a></li>
    </ul>
{% endblock %}
