{% extends 'products/layout.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block breadcrumbs %}
    {% add_crumb 'Products' '/products/' %}
    {% add_crumb 'UOMs' '/products/uoms/' %}
    {% add_crumb uom %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <h3>{% trans 'Details' %}</h3>
    {{ details.as_dl }}
    <ul class="actions">
        <li><a class="edit" href="{{ uom.get_edit_url }}">{% trans 'Edit' %}</a></li>
        <li><a class="delete" href="{{ uom.get_delete_url }}">{% trans 'Delete' %}</a></li>
    </ul>
{% endblock %}
