{% extends "documents/hardcopy_edit.html" %}

{% load breadcrumbs %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb 'Delivery notes' 'deliverynote_list' %}
    {% add_crumb object.document object.document.get_absolute_url %}
    {% add_crumb 'Hard copies' 'deliverynote_hardcopies' object.document.object_id %}
    {% if object.pk %}
    {% add_crumb object object.get_absolute_url %}
    {% add_crumb 'Edit' %}
    {% else %}
    {% add_crumb 'Add' %}
    {% endif %}
{% endblock %}
