{% extends "base.html" %}

{% load i18n %}
{% load breadcrumbs %}
{% load details %}

{% block meta_title %}
{% if object.pk %}{% trans 'Edit delivery note' %}{% else %}{% trans 'Add delivery note' %}{% endif %}
{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb 'Warehouses' 'warehouse_list' %}
    {% add_crumb 'Delivery notes' 'delivery_note_list' %}
    {% if object.pk %}
    {% add_crumb object object.get_absolute_url %}
    {% add_crumb 'Edit' %}
    {% else %}
    {% add_crumb 'Add' %}
    {% endif %}
{% endblock %}

{% block title %}
<div class="title">
    {% if object.pk %}
    <h1>{{ object }}</h1>
    <h2>{% trans 'Edit delivery note' %}</h2>
    {% else %}
    <h1>{% trans 'Add delivery note' %}</h1>
    {% endif %}
</div>
{% endblock %}

{% block main %}
{% if object.pk %}
<form method="post" action="{% url delivery_note_edit object.pk %}">
{% else %}
<form method="post" action="{% url delivery_note_add %}">
{% endif %}
    {% csrf_token %}
    <table class="properties">
        {% property_table dform "['code', ['owner', 'status']]" %}
        {% property_table form "[['delivery_addressee', 'invoice_addressee'], ['order_ref_number', 'order_ref_date'], ['means_of_delivery', 'terms_of_payment'], ['reason_of_shipping', 'terms_of_shipping'], 'goods_appearance', 'notes']" %}
        {% property_table dform "['categories', 'tags']" %}
    </table>
    {{ formset.management_form }}
    <table class="formset">
        {% for form in formset %}
        {% if forloop.counter0 == 0 %}
        <tr>
            {% for field in form.visible_fields %}
            {% if not forloop.last %}
            <th {% if field.name == 'notes' %}class="text"{% else %}class="char"{% endif %}>{{ field.label }}</th>
            {% endif %}
            {% endfor %}
            <th class="actions">{% trans "Delete?" %}</th>
        </tr>
        {% endif %}
        <tr>
            {% for field in form.visible_fields %}
            <td{% if field.css_classes %} class="{{ field.css_classes }}"{% endif %}>
                {% if forloop.counter0 == 0 %}
                {% for hiddenfield in form.hidden_fields %}
                {{ hiddenfield }}
                {% endfor %}
                {% endif %}
                {{ field }}
                {{ field.errors }}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <span class="submit"><input type="submit" value="{% trans 'Save' %}"/></span>
</form>
{% endblock %}
