{% extends "base.html" %}

{% load i18n %}
{% load breadcrumbs %}
{% load details %}

{% block meta_title %}
{% if object.pk %}{% trans 'Edit warehouse' %}{% else %}{% trans 'Add warehouse' %}{% endif %}
{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb 'Warehouses' 'warehouse_list' %}
    {% if object.pk %}
    {% add_crumb object object.get_absolute_url %}
    {% add_crumb 'Edit' %}
    {% else %}
    {% add_crumb 'Add' %}
    {% endif %}
{% endblock %}

{% block title %}
<div class="title">
    {% if object.pk %}
    <h1>{{ object }}</h1>
    <h2>{% trans 'Edit warehouse' %}</h2>
    {% else %}
    <h1>{% trans 'Add warehouse' %}</h1>
    {% endif %}
</div>
{% endblock %}

{% block main %}
{% if object.pk %}
<form method="post" action="{% url warehouse_edit object.pk %}">
{% else %}
<form method="post" action="{% url warehouse_add %}">
{% endif %}
    {% csrf_token %}
    <table class="properties">
        {% property_table form "['name', ['owner', 'address'], 'manager']" %}
    </table>
    <span class="submit"><input type="submit" value="{% trans 'Save' %}"/></span>
</form>
{% endblock %}
