{% extends "base.html" %}

{% load i18n %}
{% load breadcrumbs %}
{% load avatar %}

{% block meta_title %}{{ object }}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb 'Users' 'user_list' %}
    {% add_crumb object %}
    {% render_breadcrumbs %}
{% endblock %}

{% block title %}
<div class="title">
    <h1>{{ object }}</h1>
</div>
{% endblock %}

{% block main %}
<div class="actions">
    <ul>
        {% if perms.auth.add_user %}
        <li><a href="{% url user_add %}">{% trans 'Add' %}</a></li>
        {% endif %}
        {% if request.user == object or perms.auth.change_user %}
        <li><a href="{% url user_edit object.username %}">{% trans 'Edit' %}</a></li>
        {% endif %}
        {% if request.user == object or perms.auth.delete_user %}
        <li><a href="{% url user_delete object.username %}">{% trans 'Delete' %}</a></li>
        {% endif %}
    </ul>
</div>
{% include 'elements/navigator.html' %}
<div class="details">
    {% avatar object 90 %}
    <dl class="user-info">
        <dt class="fullname">{% trans 'Fullname' %}</dt>
        <dd>{% if object.get_full_name %}{{ object.get_full_name }}{% else %}<span class="disabled">{% trans 'Not specified.' %}</span>{% endif %}</dd>
        <dt class="joined">{% trans 'Joined on' %}</dt>
        <dd>{{ object.date_joined }}</dd>
    </dl>
</div>
{% endblock %}
