{% extends 'warehouses/layout.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block breadcrumbs %}
    {% add_crumb 'Warehouses' '/warehouses/' %}
    {% add_crumb movement.warehouse movement.warehouse.get_absolute_url %}
    {% add_crumb 'Movements' movement.warehouse.get_movements_url %}
    {% add_crumb movement %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <h3>{% trans 'Delete' %}</h3>
    <form action="." method="post">
        {% csrf_token %}
        <div class="message">
            <p class="warning">{% trans 'Are you sure you want to delete this movement and all its related informations?' %}</p>
            <div class="actions">
                <input class="ok" type="submit" name="yes" value="{% trans 'Yes' %}" />
                <input class="cancel" type="submit" name="no" value="{% trans 'No' %}" />
            </div>
        </div>
    </form>
    <ul class="actions">
        <li><a class="view" href="{{ movement.get_absolute_url }}">{% trans 'View' %}</a></li>
        {% if movement.is_last %}
        <li><a class="delete" href="{{ movement.get_edit_url }}">{% trans 'Edit' %}</a></li>
        {% endif %}
    </ul>
{% endblock %}
