{% extends 'warehouses/layout.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block breadcrumbs %}
    {% add_crumb 'Warehouses' '/warehouses/' %}
    {% add_crumb movement.warehouse movement.warehouse.get_absolute_url %}
    {% add_crumb 'Movements' movement.warehouse.get_movements_url %}
    {% add_crumb movement %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <h3>{% trans 'Edit' %}</h3>
    <h4>{% blocktrans %}Step {{ step }} of {{ step_count }}{% endblocktrans %}</h4>
    <form action="." method="post">
        {% csrf_token %}
        {% for prev_form in form_list %}
        {% if forloop.counter < step %}
        {{ prev_form.as_p }}
        {% endif %}
        {% endfor %}
        {{ form.as_p }}
        <input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
        {{ previous_fields|safe }}
        <div class="actions">
            {% if step == step_count %}
            <input class="save" type="submit" value="{% trans 'Save' %}" />
            {% else %}
            <input class="next" type="submit" value="{% trans 'Next' %}" />
            {% endif %}
        </div>
    </form>
{% endblock %}
