{% extends 'layout.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block title %}{% trans 'Warehouses' %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Warehouses' '/warehouses/' %}
    {% add_crumb 'Movements' %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <h3>{% trans 'Movements' %}</h3>
    <div id="search">
        <form action="/warehouses/movements/" method="post">
            <input type="text" name="query"/>
            <input type="submit" name="search" class="search" value="{% trans 'Search' %}"/>
        </form>
    </div>
    {{ movements.as_table }}
    <ul class="actions">
        <li><a class="warehouses" href="/warehouses/">{% trans 'Warehouses' %}</a></li>
    </ul>
{% endblock %}
