{% extends 'layout.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block title %}{% trans 'Warehouses' %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Warehouses' '/warehouses/' %}
    {% add_crumb 'Movements' %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <h3>{% trans 'Movements' %}</h3>
    <div id="search">
        <form action="/warehouses/movements/" method="post">
            <input type="text" name="query"/>
            <input type="submit" name="search" class="search" value="{% trans 'Search' %}"/>
        </form>
    </div>
    {% if movements %}
    <table>
        <thead>
            <td>{% trans 'Quantity' %}</td>
            <td>{% trans 'UOM' %}</td>
            <td>{% trans 'Product' %}</td>
            <td>{% trans 'Price' %}</td>
            <td>{% trans 'Discount' %}</td>
            <td>{% trans 'Value' %}</td>
            <td>{% trans 'On' %}</td>
            <td>{% trans 'Warehouse' %}</td>
            <td>{% trans 'Actions' %}</td>
        </thead>
        {% for movement in movements %}
        <tr class="{% if movement.verse %}in{% else %}out{% endif %}">
            <td class="number-with-sign"><strong class="sign">{% if movement.verse %}+{% else %}-{% endif %}</strong>{{ movement.quantity|floatformat:2 }}</td>
            <td><a href="/uoms/view/{{ movement.supply.product.uom.id }}/">{{ movement.supply.product.uom }}</a></td>
            <td><a href="/products/view/{{ movement.supply.product.id }}/">{{ movement.supply.product }}</a></td>
            <td class="number">{{ movement.price|floatformat:2 }}</td>
            <td class="number">{{ movement.discount|floatformat:2 }}%</td>
            <td class="number-with-sign"><strong class="sign">{% if movement.verse %}+{% else %}-{% endif %}</strong>{{ movement.value|floatformat:2 }}</td>
            <td>{{ movement.last_modified }}</td>
            <td><a href="{{ movement.warehouse.get_absolute_url }}">{{ movement.warehouse }}</a></td>
            <td>
                <ul class="actions">
                    <li><a class="view" href="/warehouses/movements/view/{{ movement.id }}/">{% trans 'View' %}</a></li>
                    {% if movement.is_last %}
                    <li><a class="edit" href="/warehouses/movements/edit/{{ movement.id }}/">{% trans 'Edit' %}</a></li>
                    <li><a class="delete" href="/warehouses/movements/delete/{{ movement.id }}/">{% trans 'Delete' %}</a></li>
                    {% endif %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p class="disabled">{% trans 'empty' %}.</p>
    {% endif %}
    <ul class="actions">
        <li><a class="warehouses" href="/warehouses/">{% trans 'Warehouses' %}</a></li>
    </ul>
{% endblock %}
