{% extends 'warehouses/layout.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block breadcrumbs %}
    {% add_crumb 'Warehouses' '/warehouses/' %}
    {% add_crumb movement.warehouse movement.warehouse.get_absolute_url %}
    {% add_crumb 'Movements' movement.warehouse.get_movements_url %}
    {% add_crumb movement %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <h3>{% trans 'Details' %}</h3>
    {{ details.as_dl }}
    {% if movement.is_last %}
    <ul class="actions">
        <li><a class="edit" href="{{ movement.get_edit_url }}">{% trans 'Edit' %}</a></li>
        <li><a class="delete" href="{{ movement.get_delete_url }}">{% trans 'Delete' %}</a></li>
    </ul>   
    {% endif %} 
{% endblock %}
