{% extends 'layout.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block title %}{% trans 'Products' %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Products' '/products/' %}
    {% add_crumb product %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <h3>{% trans 'Edit' %}</h3>
    <h4>{% blocktrans %}Step {{ step }} of {{ step_count }}{% endblocktrans %}</h4>
    <form action="." method="post">
        {% if is_formset %}
        {{ form.management_form }}
        {% for f in form.forms %}
        {{ f.as_p }}
        {% endfor %}
        {% else %}
        {{ form.as_p }}
        {% endif %}
        <input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
        {{ previous_fields|safe }}
        <div class="actions">
            <input class="save" type="submit" value="{% trans 'Save' %}" />
        </div>
    </form>
    <ul class="actions">
        <li><a class="view" href="/products/view/{{ product.id }}">{% trans 'View' %}</a></li>
        <li><a class="delete" href="/products/delete/{{ product.id }}">{% trans 'Delete' %}</a></li>
        <li><a class="products" href="/products/">{% trans 'Products' %}</a></li>
    </ul>
{% endblock %}
