{% extends 'products/layout.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block breadcrumbs %}
    {% add_crumb 'Products' '/products/' %}
    {% add_crumb product product.get_absolute_url %}
    {% add_crumb 'Supplies' product.get_supplies_url %}
    {% add_crumb supply %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <h3>{% trans 'Edit' %}</h3>
    <form action="." method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="actions">
            <input class="save" type="submit" value="{% trans 'Save' %}" />
        </div>
    </form>
    <ul class="actions">
        <li><a class="delete" href="/products/{{ product.pk}}/supplies/delete/{{ supply.pk }}/">{% trans 'Delete' %}</a></li>
    </ul>
{% endblock %}
