{% extends 'layout.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block title %}{% trans 'Products' %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Products' %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <h3>{% trans 'Products' %}</h3>
    {% include 'search_box.html' %}
    {{ products.as_table }}
    <ul class="actions">
        <li><a class="add" href="/products/add/">{% trans 'Add' %}</a></li>
        <li><a class="uoms" href="/products/uoms/">{% trans 'UOMs' %}</a></li>
    </ul>
{% endblock %}
