{% extends 'layout.html' %}

{% load i18n %}
{% load menu %}
{% load breadcrumbs %}

{% block title %}{% trans 'Products' %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Products' %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <ul class="menu">
        {% get_menu 'products' as menu_bar %}
        {% for m in menu_bar %}
        {{ m }}
        {% endfor %}
    </ul>
    {% block current_page %}
    <h3>{% trans 'Products' %}</h3>
    {% include 'search_box.html' %}
    {{ products.as_table }}
    <ul class="actions">
        <li><a class="add" href="/products/add/">{% trans 'Add' %}</a></li>
    </ul>
    {% endblock %}
{% endblock %}
