{% extends 'layout.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block title %}{% trans 'Products' %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Products' %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <h3>{% trans 'Products' %}</h3>
    <div id="search">
        <form action="/products/" method="post">
            <input type="text" name="query"/>
            <input type="submit" name="search" class="search" value="{% trans 'Search' %}"/>
        </form>
    </div>
    {{ products.as_table }}
    <ul class="actions">
        <li><a class="add" href="/products/add/">{% trans 'Add' %}</a></li>
        <li><a class="uoms" href="/products/uoms/">{% trans 'UOMs' %}</a></li>
    </ul>
{% endblock %}
