{% extends 'products/view.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block breadcrumbs %}
    {% add_crumb 'Products' '/products/' %}
    {% add_crumb product product.get_absolute_url %}
    {% add_crumb 'Supplies' %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block page %}
    <h3>{% trans 'Supplies' %}</h3>
    {{ supplies.as_table }}
    <ul class="actions">
        <li><a class="add" href="{{ product.get_add_supply_url }}">{% trans 'Add' %}</a></li>
    </ul>
{% endblock %}
