{% extends 'products/layout.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block breadcrumbs %}
    {% add_crumb 'Products' '/products/' %}
    {% add_crumb product %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <ul class="menu">
        <li class="view"><a href="{{ product.get_absolute_url }}">{% trans 'Details' %}</a></li>
        <li class="supplies"><a href="{{ product.get_supplies_url }}">{% trans 'Supplies' %}</a></li>
    </ul>
    {% block page %}
    <h3>{% trans 'Details' %}</h3>
    {{ details.as_dl }}
    <ul class="actions">
        <li><a class="edit" href="{{ product.get_edit_url }}">{% trans 'Edit' %}</a></li>
        <li><a class="delete" href="{{ product.get_delete_url }}">{% trans 'Delete' %}</a></li>
    </ul>
    {% endblock %}
{% endblock %}
