body {
    width: 480px;
    min-width: 480px;
    -webkit-text-size-adjust: none;
}

#header, #branding, #nav, #breadcrumbs, #content, #footer {
    float: none;
    width: 480px;
    min-width: 480px;
}

#content { background-image: none; }

#sidebar, #main {
    float: none;
    width: 440px;
}

#user-profile-widget { display: none; }

#main .region { width: 407px; }

#main .widget { float: none; }
