html { background: #1f1f1f; }

body {
    min-width: 1024px;
    font-family: 'Helvetica', arial, sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    background: #fff;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    margin: 0 0 10px;
    padding: 0;
    background: none;
    border: none;
    text-align: left;
}
 
h1 { font-size: 2.4em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.0em; }
h6 { font-size: 0.9em; }

a, a:link, a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #ce0600;
}

a:hover { color: #1f1f1f; }

p, ol, ul, dl, pre { margin-bottom: 10px; }

ol, ul, dl { text-align: left; }

ol { margin-left: 35px; }

ol ol, ul ul, dl dl {
    margin-left: 5px;
    margin-top: 6px;
    margin-bottom: 0;
}

li, dt { padding: 4px 0; }

ul li, dl dt {
    clear: left;
    padding-left: 15px;
}

dl dd { margin-left: 15px; }

pre {
    clear: both;
    padding: 15px;
    border: 1px solid #dfdfdf;
    background: #efefef;
    overflow: auto;
}

hr { display: none; }

/**
 * Form
 */

form {
    clear: both;
    overflow: hidden;
    padding: 15px;
    border: 1px solid #dfdfdf;
    background: #f6f6f6;
}

form p {
    font-style: italic;
    color: #60625d;
}

form label {
    clear: left;
    display: block;
    font-weight: bold;
    font-style: normal;
    color: #1f1f1f;
}

form input, form select {
    clear: left;
    padding: 3px;
    width: 270px;
    margin-right: 100%;
    font-style: normal;
}

form textarea {
    clear: left;
    width: 100%;
    height: 270px;
    font-style: normal;
}

form .submit {
    float: left;
    margin-right: 10px;
}

form .required input, form .required textarea, form .required select {
    background-color: #fffecc;
    border: 1px solid #ffda88;
}

form .errors input, form .errors textarea, form .errors select {
    background-color: #ffe0e0;
    border: 1px solid #d21717;
}

form .add a { margin-right: 100%; }

/**
 * Tables.
 */
 
table {
    clear: both;
    float: left;
    width: 100%;
    border: 1px solid #dfdfdf;
    margin-bottom: 10px;
}

td, th {
    padding: 5px;
    background: #f6f6f6;
}

thead td, th { background: #dfdfdf; }

thead a.asc, thead a.desc {
    float: left;
    width: 100%;
    background-position: right center;
    background-repeat: no-repeat;
}

thead a.asc { background-image: url(images/up.png); }

thead a.desc { background-image: url(images/down.png); }

tr.altrow td { background-color: #f2f2f2; }

/**
 * Commons.
 */

.disabled { color: #60625d; }

form .submit input, .submit a {
    float: right;
    width: auto;
    padding: 6px 16px;
    margin: 0;
    color: #fff;
    font-weight: bold;
    background: #ce0600;
    border: 1px solid #1f1f1f;
    text-align: center;
}

form .submit input:hover, .submit a:hover { background: #1f1f1f; }

.navigator { float: right; }

.paginator {
    clear: both;
    float: left;
    width: 100%;
    border-top: 1px solid #dfdfdf;
    padding-top: 10px;
    margin-top: 10px;
}

.paginator .first, .navigator .first,
.paginator .previous, .navigator .previous,
.paginator .next, .navigator .next,
.paginator .last, .navigator .last,
.paginator .page_number,
.paginator .current, .navigator .current { 
    float: left;
    margin-left: 5px;
    text-align: center;
}

.paginator .current, .navigator .current { padding: 0 5px; }

.paginator .disabled, .navigator .disabled,
.paginator a, .navigator a {
    display: block;   
    padding: 0 5px;
}

.paginator .disabled, .navigator .disabled {
    border: 1px solid #dfdfdf;
    background: #f6f6f6;
}

.paginator a, .navigator a,
.paginator a:link, .navigator a:link,
.paginator a:visited, .navigator a:visited {
    color: #fff;
    background: #ce0600;
    border: 1px solid #1f1f1f;
}

.paginator a:hover, .navigator a:hover { background: #1f1f1f; }

.paginator .total {
    float: right;
    color: #60625d;
}

.comments li {
    padding-left: 0;
    background: none;
}

.comments li p {
    margin: 0;
}

.comment-counter {
    float: right;
    width: 100%;
    text-align: right;
    border-top: 1px solid #dfdfdf;
    color: #60625d;
}

.meta {
    color: #60625d;
    font-style: italic;
}

.avatar {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.add a, .edit a, .delete a, .all a {
    float: left;
    width: 16px;
    height: 16px;
    padding: 0;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 0;
}

.add a { background-image: url(images/add.png); }

.add a:hover { background-image: url(images/add_hover.png); }

.edit a { background-image: url(images/edit.png); }

.edit a:hover { background-image: url(images/edit_hover.png); }

.delete a { background-image: url(images/delete.png); }

.delete a:hover { background-image: url(images/delete_hover.png); }

.all a { background-image: url(images/all.png); }

.all a:hover { background-image: url(images/all_hover.png); }

.progressbar {
    clear: both;
    float: left;
    width: 100%;
    background: #f2f2f2 url(images/bg_progressbar_right.jpg) no-repeat right center;
}

.progressbar p { display: none; }

.progressbar .progress {
    float: left;
    background: #96bf0d url(images/bg_progress_left.jpg) no-repeat left center;
}

.delayed .progress { background: #fffcaa url(images/bg_progress_delayed_left.jpg) no-repeat left center; }

.expired .progress { background: #d21717 url(images/bg_progress_expired_left.jpg) no-repeat left center; }

.progress-20 { width: 100%; }
.progress-19 { width: 95%; }
.progress-18 { width: 90%; }
.progress-17 { width: 85%; }
.progress-16 { width: 80%; }
.progress-15 { width: 75%; }
.progress-14 { width: 70%; }
.progress-13 { width: 65%; }
.progress-12 { width: 60%; }
.progress-11 { width: 55%; }
.progress-10 { width: 50%; }
.progress-9 { width: 45%; }
.progress-8 { width: 40%; }
.progress-7 { width: 35%; }
.progress-6 { width: 30%; }
.progress-5 { width: 25%; }
.progress-4 { width: 20%; }
.progress-3 { width: 15%; }
.progress-2 { width: 10%; }
.progress-1 { width: 5%; }
.progress-0 { width: 0%; }

.progressbar .value {
    float: left;
    width: 100%;
    padding: 6px 0;
    text-align: center;
    background-position: right center;
    background-repeat: no-repeat;
}

.progressbar .progress-20 .value { background-image: url(images/bg_progress_right.jpg); }

.delayed .progress-20 .value { background-image: url(images/bg_progress_delayed_right.jpg); }

.expired .progress-20 .value { background-image: url(images/bg_progress_expired_right.jpg); }

.progressbar .progress-0 .value {
    padding-left: 10px;
    background: url(images/bg_progressbar_left.jpg) no-repeat left center;
}

/**
 * Layout.
 */

#logo, #nav, #breadcrumbs, #footer {
    clear: both;
    float: left;
    padding: 0;
    width: 100%;
    min-width: 1024px;
}

#logo {
    height: 60px;
    margin-top: 28px;
    background: #ce0600 url(images/logo.png) no-repeat 10px center;
    border-top: 1px solid #ec7672;
    border-bottom: 1px solid #7d0400;
    color: #fff;
}

#logo h1, #logo h2 { display: none; }

#nav {
    position: absolute;
    top: 0;
    padding: 6px 0;
    height: 16px;
    background: #1f1f1f url(images/footer.jpg) repeat-x top;
    color: #fff;
}

#nav ul, #nav li {
    display: inline;
    padding: 0;
    margin: 0;
}

#nav li { padding: 0 10px; }

#nav a, #nav a:link, #nav a:visited { color: #d6d6d6; }

#nav a:hover { color: #fff; }

#search {
    position: absolute;
    top: 45px;
    right: 10px;
}

#searchform {
    clear: none;
    float: right;
    padding: 0;
    background: none;
    border: none;
}

#searchform .text, #searchform .submit { float: left; }

#searchform .text input {
    width: 180px;
    margin: 2px;
}

#searchform .submit {
    background: none;
    margin: -1px 0 0;
}

#searchform .submit input {
    width: 30px;
    height: 28px;
    background: url(images/search.png) no-repeat center 8px;
    border: none;
    font-size: 0;
}

#searchform .submit input:hover {
    background-color: #1f1f1f;
}

#bookmarks {
    float: left;
    width: 85%;
}

#bookmarks .add a { margin-left: 10px; }

#userarea {
    float: right;
    width: 15%;
    text-align: right;
}

#userarea .profile {
    border-right: 1px solid #d6d6d6;
    padding-right: 15px;
}

#userarea li { text-align: right; }

#breadcrumbs {
    padding: 6px 0;
    background: #f6f6f6;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e6e6e6;
}

#breadcrumbs .list { padding: 0 10px; }

#content {
    clear: both;
    width: 1024px;
    margin: 0 auto;
    padding-bottom: 20px;
    overflow: auto;
    background: url(images/menu.jpg) repeat-y 200px;
}

#content li, #content dt { background: url(images/bullet.png) no-repeat left 8px; }

#content .menu, #content .menu li {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    background: none;
}

#content .menu li a {
    display: block;
    padding: 5px 25px;
    background: url(images/bullet.png) no-repeat 10px center;
}

#content .menu li a:hover {
    background-image: url(images/bullet_hover.png);
    background-color: #f6f6f6;
    padding-bottom: 4px;
    border-bottom: 1px solid #e6e6e6;
}

#content .menu li li a { padding-left: 40px; }

#content .messages {
    width: 100%;
    border: 1px solid #ffda88;
    background-color: #fffecc;
    margin-bottom: 30px;
}

#content .messages ul, #content .errorlist {
    margin: 0;
    padding: 5px;
}

#content .messages li, #content .errorlist li {
    padding-left: 40px;
    background-repeat: no-repeat;
    background-position: 10px 5px;
}

#content .errorlist {
    border: 1px solid #d21717;
    background: #ffe0e0;
    margin-bottom: 5px;
}

#content .messages li.error, #content .errorlist li { background-image: url(images/error.png); }

#content .messages li.info { background-image: url(images/info.png); }

#content .messages li.warning { background-image: url(images/warning.png); }

#content .messages li.success { background-image: url(images/success.png); }

#content .tasks dt {
    border-bottom: 2px solid #d6d6d6;
    background: none;
    padding-left: 0;
}

#content .tasks dd { margin: 0; }

#content .tasks li {
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 15px 10px 35px;
    background: no-repeat 10px 10px;
}

#content .tasks li.closed { background-image: url(images/success.png); }

#content .tasks li.expired {
    background-color: #ffe0e0;
    background-image: url(images/error.png);
}

#content .tasks li strong {
    float: left;
    width: 65px;
    margin-right: 20px;
    text-align: right;
}

#content .tasks li .delay, #content .tasks li .countdown  { float: right; }

#content .milestones .milestones { padding-left: 100px; }

#content .milestones dt {
    border-bottom: 2px solid #d6d6d6;
    background: none;
    padding: 0;
}

#content .milestones dt h3 { margin-bottom: 5px; }

#content .milestones .meta {
    font-weight: normal;
    color: #000;
}

#content .milestones dd {
    margin-top: 5px;
    margin-left: 0;
}

#sidebar {
    float: left;
    width: 190px;
    padding-bottom: 25px;
}

#user-profile-widget {
    float: left;
    width: 100%;
    margin-bottom: 25px;
}

#user-profile-widget .body {
    padding: 10px 0;
    margin: 0 10px;
    border-bottom: 1px solid #e6e6e6;
}

#user-profile-widget .info { width: 160px; }

#user-profile-widget p { 
    clear: none;
    margin-bottom: 0;
}

#main {
    float: right;
    width: 794px;
    padding: 20px 10px;
}

#main .title {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}

#main .title .menu {
    float: right;
    width: auto;
    margin-top: -26px;
}

#main .title .menu li {
    clear: none;
    float: left;
    width: auto;
}

#main .title .menu li a {
    background: none;
    padding: 0;
    margin-left: 20px;
}

#main .title .menu li a:hover {
    background: none;
    border: 0;
}

#main .actions ul { float: left; }

#main .actions li {
    clear: none;
    float: left;
    padding: 0;
    margin: 0;
    background: none;
}

#main .details { clear: both; }

#main .details .actions { width: 40px; }

#main .details .actions .delete a { margin: 0; }

#main .widget .wrapper {
    clear: both;
    float: left;
    width: 347px;
    padding: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
    background: #f6f6f6;
    border: 1px solid #e6e6e6;
} 

#main .widget .wrapper-altrow {
    float: right;
    width: 347px;
    padding: 20px;
    margin-left: 5px;
    margin-bottom: 10px;
    background: #f6f6f6;
    border: 1px solid #e6e6e6;
}

#main .widget .actions {
    position: relative;
    float: right;
    top: -36px;
    margin-bottom: -36px;
}

#footer {
    height: 200px;
    border-top: 1px solid #111;
    background: url(images/footer.jpg) repeat-x top;
    color: #fff;
}

#footer a, #footer a:link, #footer a:visited { color: #d6d6d6; }

#footer a:hover { color: #fff; }

#powered-by {
    float: right;
    padding: 10px;
}
