html { background: #1f1f1f; }

body {
    font-family: 'Helvetica', arial, sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    background: #fff;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    margin: 0 0 10px;
    padding: 0;
    background: none;
    border: none;
    text-align: left;
}
 
h1 { font-size: 2.4em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.0em; }
h6 { font-size: 0.9em; }

a, a:link, a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #ce0600;
}

a:hover { color: #1f1f1f; }

p, ol, ul, dl, pre { margin-bottom: 10px; }

ol, ul, dl { text-align: left; }

ol { margin-left: 35px; }

ol ol, ul ul, dl dl {
    margin-left: 5px;
    margin-top: 6px;
    margin-bottom: 0;
}

li, dt { padding: 4px 0; }

ul li, dl dt {
    clear: left;
    padding-left: 15px;
}

dl dd { margin-left: 15px; }

pre {
    clear: both;
    padding: 15px;
    border: 1px solid #dfdfdf;
    background: #efefef;
    overflow: auto;
}

hr { display: none; }

/**
 * Form
 */

form {
    clear: both;
    overflow: hidden;
    padding: 15px;
    border: 1px solid #dfdfdf;
    background: #f6f6f6;
}

form p {
    font-style: italic;
    color: #60625d;
}

form label {
    clear: left;
    display: block;
    font-weight: bold;
    font-style: normal;
    color: #1f1f1f;
}

form input, form select {
    clear: left;
    padding: 3px;
    width: 270px;
    margin-right: 100%;
    font-style: normal;
}

form textarea {
    clear: left;
    width: 100%;
    height: 270px;
    font-style: normal;
}

form .submit {
    float: left;
    margin-right: 10px;
}

form .submit input {
    display: block;
    width: auto;
    padding: 6px 16px;
    margin: 0;
    border: none;
    color: #fff;
    font-weight: bold;
    background: #ce0600;
    border: 1px solid #1f1f1f;
}

form .submit input:hover { background: #1f1f1f; }

/**
 * Tables.
 */
 
table {
    clear: both;
    float: left;
    width: 100%;
    border: 1px solid #dfdfdf;
    margin-bottom: 10px;
}

td, th {
    padding: 5px;
    background: #f6f6f6;
}

thead td, th { background: #dfdfdf; }

th { text-align: right; }

thead a.asc, thead a.desc {
    float: left;
    width: 100%;
    background-position: right center;
    background-repeat: no-repeat;
}

thead a.asc { background-image: url(images/up.png); }

thead a.desc { background-image: url(images/down.png); }

/**
 * Commons.
 */

.disabled { color: #60625d; }

.navigator { float: right; }

.paginator {
    clear: both;
    float: left;
    width: 100%;
    border-top: 1px solid #dfdfdf;
    padding-top: 10px;
    margin-top: 10px;
}

.paginator .first, .navigator .first,
.paginator .previous, .navigator .previous,
.paginator .next, .navigator .next,
.paginator .last, .navigator .last,
.paginator .page_number,
.paginator .current, .navigator .current { 
    float: left;
    margin-left: 5px;
    text-align: center;
}

.paginator .current, .navigator .current { padding: 0 5px; }

.paginator .disabled, .navigator .disabled,
.paginator a, .navigator a {
    display: block;   
    padding: 0 5px;
}

.paginator .disabled, .navigator .disabled {
    border: 1px solid #dfdfdf;
    background: #f6f6f6;
}

.paginator a, .navigator a,
.paginator a:link, .navigator a:link,
.paginator a:visited, .navigator a:visited {
    color: #fff;
    background: #ce0600;
    border: 1px solid #1f1f1f;
}

.paginator a:hover, .navigator a:hover { background: #1f1f1f; }

.paginator .total {
    float: right;
    color: #60625d;
}

.comments li {
    padding-left: 0;
    background: none;
}

.comments li p {
    margin: 0;
}

.comment-counter {
    float: right;
    width: 100%;
    text-align: right;
    border-top: 1px solid #dfdfdf;
    color: #60625d;
}

.meta {
    color: #60625d;
    font-style: italic;
}

.avatar {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

/**
 * Layout.
 */

#logo, #nav, #breadcrumbs, #footer {
    clear: both;
    float: left;
    padding: 0;
    width: 100%;
    min-width: 1024px;
}

#logo {
    height: 60px;
    margin-top: 28px;
    background: #ce0600 url(images/logo.png) no-repeat 10px center;
    border-top: 1px solid #ec7672;
    border-bottom: 1px solid #7d0400;
    color: #fff;
}

#logo h1, #logo h2 { display: none; }

#nav {
    position: absolute;
    top: 0;
    padding: 6px 0;
    height: 16px;
    background: #1f1f1f url(images/footer.jpg) repeat-x top;
    color: #e6e6e6;
}

#nav ul, #nav li {
    display: inline;
    padding: 0;
    margin: 0;
}

#nav li { padding: 0 10px; }

#nav a:hover { color: #fff; }

#search {
    position: absolute;
    top: 45px;
    right: 10px;
}

#searchform {
    clear: none;
    float: right;
    padding: 0;
    background: none;
    border: none;
}

#searchform .text, #searchform .submit { float: left; }

#searchform .text input {
    width: 180px;
    margin: 2px;
}

#searchform .submit {
    background: none;
    margin: -1px 0 0;
}

#searchform .submit input {
    width: 30px;
    height: 28px;
    background: url(images/search.png) no-repeat center 8px;
    border: none;
    font-size: 0;
}

#searchform .submit input:hover {
    background-color: #1f1f1f;
}

#bookmarks {
    float: left;
    width: 85%;
}

#userarea {
    float: right;
    width: 15%;
    text-align: right;
}

#userarea li { text-align: right; }

#breadcrumbs {
    padding: 6px 0;
    background: #f6f6f6;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e6e6e6;
}

#breadcrumbs .list { padding: 0 10px; }

#content {
    clear: both;
    width: 1024px;
    margin: 0 auto;
    overflow: auto;
    background: url(images/menu.jpg) repeat-y 200px;
}

#content li, #content dt { background: url(images/bullet.png) no-repeat left 8px; }

#content .menu, #content .menu li {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    background: none;
}

#content .menu li a {
    display: block;
    padding: 5px 25px;
    background: url(images/bullet.png) no-repeat 10px center;
}

#content .menu li a:hover {
    background-image: url(images/bullet_hover.png);
    background-color: #f6f6f6;
    padding-bottom: 4px;
    border-bottom: 1px solid #e6e6e6;
}

#content .menu li li a { padding-left: 40px; }

#content .messages {
    width: 100%;
    border: 1px solid #ffda88;
    background-color: #fffcaa;
    margin-bottom: 30px;
}

#content .messages ul, #content .errorlist {
    margin: 0;
    padding: 5px;
}

#content .messages li, #content .errorlist li {
    padding-left: 40px;
    background-repeat: no-repeat;
    background-position: 10px 5px;
}

#content .errorlist {
    border: 1px solid #d21717;
    background: #ffe0e0;
    margin-bottom: 5px;
}

#content .messages li.error, #content .errorlist li { background-image: url(images/error.png); }

#content .messages li.info { background-image: url(images/info.png); }

#content .messages li.warning { background-image: url(images/warning.png); }

#content .messages li.success { background-image: url(images/success.png); }

#sidebar {
    float: left;
    width: 190px;
    padding-bottom: 25px;
}

#user-profile-widget {
    float: left;
    width: 100%;
    margin-bottom: 25px;
}

#user-profile-widget .body {
    padding: 10px 0;
    margin: 0 10px;
    border-bottom: 1px solid #e6e6e6;
}

#user-profile-widget .info { width: 160px; }

#user-profile-widget p { 
    clear: none;
    margin-bottom: 0;
}

#main {
    float: right;
    width: 794px;
    padding: 20px 10px;
}

#main .title {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}

#main .title .menu {
    float: right;
    width: auto;
    margin-top: -26px;
}

#main .title .menu li {
    clear: none;
    float: left;
    width: auto;
}

#main .title .menu li a {
    background: none;
    padding: 0;
    margin-left: 20px;
}

#main .title .menu li a:hover {
    background: none;
    border: 0;
}

#main .actions {
    clear: left;
    float: left; 
}

#main .actions ul { float: left; }

#main .actions li {
    clear: none;
    float: left;
    padding: 0;
    margin-right: 5px;
}

#main .actions li a {
    float: left;
    padding: 6px 16px;
    background: #ce0600;
    border: 1px solid #1f1f1f;
    color: #fff;
}

#main .actions li a:hover {
    background: #1f1f1f;
}

#main .details { clear: both; }

#footer {
    height: 200px;
    border-top: 1px solid #111;
    background: url(images/footer.jpg) repeat-x top;
    color: #e6e6e6;
}

#powered-by {
    float: right;
    padding: 10px;
}

#footer a:hover { color: #fff; }
