{% extends "base.html" %}

{% load i18n %}
{% load breadcrumbs %}
{% load details %}
{% load menu %}

{% block meta_title %}{% trans "Events" %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb 'Events' %}
    {% render_breadcrumbs %}
{% endblock %}

{% block title %}
<div class="title">
    <h1>{% trans "Events" %}</h1>
    <h2>{% block subtitle %}{% trans "Agenda" %}{% endblock %}</h2>
</div>
{% endblock %}

{% block main %}
<div class="actions">
    <ul>
        {% if perms.events.add_event %}
        <li class="add"><a title="{% trans 'Add' %}" href="{% url event_add %}">{% trans 'Add' %}</a></li>
        {% endif %}
        {% if perms.events.add_event %}
        <li class="import"><a title="{% trans 'Import events from an .ics file' %}" href="{% url event_import %}">{% trans 'Import' %}</a></li>
        {% endif %}
        {% if perms.events.change_event %}
        <li class="export"><a title="{% trans 'Export events as an .ics file' %}" href="{% url event_export_all %}">{% trans 'Export' %}</a></li>
        {% endif %}
    </ul>
</div>
<div class="sections">   
    <div class="menu">
        {% menu "events_menu" %}
    </div>
    <div class="section">
        {% block section %}
        {% include 'elements/filterbox.html' %}
        <div class="details">
            {% regroup object_list by start.date as events_by_date %}
            {% if events_by_date %}
            <dl class="events">
            {% for date in events_by_date %}
                <dt><h3>{{ date.grouper }}</h3></dt>
                <dd>
                    <ul>
                    {% for item in date.list %}
                        <li>
                            <strong>{{ item.start.time }}</strong>
                            <a title="{{ item.description }}" href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </dd>
            {% endfor %}
            </dl>
            {% else %}
            <p class="disabled">{% trans "No results found." %}</p>
            {% endif %}
            {% include 'elements/paginator.html' %}
        </div>
        {% endblock %}
    </div>
</div>
{% endblock %}
