{% extends "base.html" %}

{% load i18n %}
{% load navigator %}
{% load region %}
{% load menu %}

{% block meta_title %}{{ object.title|striptags|capfirst }}{% endblock %}

{% load breadcrumbs %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb 'Events' 'event_list' %}
    {% add_crumb object %}
    {% render_breadcrumbs %}
{% endblock %}

{% block title %}
<div class="title">
    <h1>{{ object.title|escape|capfirst }}</h1>
    <h2>{% block subtitle %}{% trans "Dashboard" %}{% endblock %}</h2>
</div>
{% endblock %}

{% block main %}
<div class="actions">
    <ul>
        {% if perms.events.add_event %}
        <li class="add"><a title="{% trans 'Add' %}" href="{% url event_add %}">{% trans 'Add' %}</a></li>
        {% endif %}
        {% if perms.events.change_event %}
        <li class="edit"><a title="{% trans 'Edit' %}" href="{% url event_edit object.pk %}">{% trans 'Edit' %}</a></li>
        {% endif %}
        {% if perms.events.delete_event %}
        <li class="delete"><a title="{% trans 'Delete' %}" href="{% url event_delete object.pk %}">{% trans 'Delete' %}</a></li>
        {% endif %}
        {% if perms.events.change_event %}
        <li class="all"><a title="{% trans 'All' %}" href="{% url event_list %}">{% trans 'All' %}</a></li>
        {% endif %}
        {% if perms.events.add_event %}
        <li class="import"><a title="{% trans 'Import events from an .ics file' %}" href="{% url event_import %}">{% trans 'Import' %}</a></li>
        {% endif %}
        {% if perms.events.change_event %}
        <li class="export"><a title="{% trans 'Export event to an .ics file' %}" href="{% url event_export object.pk %}">{% trans 'Export' %}</a></li>
        {% endif %}
    </ul>
</div>
{% objects_from object %}
{% with objects as object_list %}
{% include 'elements/navigator.html' %}
{% endwith %}
<div class="sections">   
    <div class="menu">
        {% menu "event_menu" %}
    </div>
    <div class="section">
        {% block section %}
        <div class="details">
            <table class="properties">
                <tr>
                    <th>{% trans "Created by" %}:</th>
                    <td><a class="author" href="{{ object.author.get_absolute_url }}">{{ object.author }}</a></td>
                    <th>{% trans "Created on" %}:</th>
                    <td>{{ object.created }}</td>
                </tr>
                <tr>
                    <th>{% trans "Start date" %}:</th>
                    <td>{{ object.start }}</td>
                    <th>{% trans "End date" %}:</th>
                    <td>
                        {% if object.end %}
                        {{ object.end }}
                        {% else %}
                        <span class="disabled">{% trans "empty" %}</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{% trans "Location" %}:</th>
                    <td>
                        {% if object.location %}
                        {{ object.location }}
                        {% else %}
                        <span class="disabled">{% trans "empty" %}</span>
                        {% endif %}
                    </td>
                    <th>{% trans "Status" %}:</th>
                    <td>
                        {% if object.status %}
                        {{ object.get_status_display }}
                        {% else %}
                        <span class="disabled">{% trans "empty" %}</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{% trans "Attendees" %}:</th>
                    <td colspan="3">
                        {% for attendee in object.attendees.all %} <a class="attendee" href="{{ attendee.get_absolute_url }}">{{ attendee }}</a>{% if not forloop.last %},{% endif %}{% empty %}<span class="disabled">{% trans "empty" %}</span>{% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>{% trans "Tags" %}:</th>
                    <td colspan="3">
                        {% for tag in object.tags.all %} <a class="tag" href="{{ tag.get_absolute_url }}">{{ tag }}</a>{% if not forloop.last %},{% endif %}{% empty %}<span class="disabled">{% trans "empty" %}</span>{% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>{% trans "Categories" %}:</th>
                    <td colspan="3">
                        {% for category in object.categories.all %} <a class="category" href="{{ category.get_absolute_url }}">{{ category }}</a>{% if not forloop.last %},{% endif %}{% empty %}<span class="disabled">{% trans "empty" %}</span>{% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>{% trans "Description" %}:</th>
                    <td colspan="3">
                        {% with object.description as description %}
                        {% include "projects/entry.html" %}
                        {% endwith %}
                    </td>
                </tr>
            </table>
        </div>
        {% include "elements/comments.html" %}
        {% endblock %}
    </div>
</div>
{% endblock %}
