{% extends "base.html" %}

{% load i18n %}
{% load breadcrumbs %}
{% load region %}

{% block breadcrumbs %}
    {% add_crumb 'Home' %}
    {% render_breadcrumbs %}
{% endblock %}

{% block title %}
<div class="title">
    <h1>{% trans "My dashboard" %}</h1>
</div>
{% endblock %}

{% block main %}
<div class="actions">
    <ul>
        <li class="add"><a href="{% url widget_add %}">{% trans 'Add' %}</a></li>
    </ul>
</div>
<div class="details">
    {% region user.get_profile.dashboard.slug %}
</div>
{% endblock %}
