{% extends 'layout.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block title %}{% trans 'Projects' %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Projects' '/projects/' %}
    {% add_crumb ticket.project ticket.project.get_absolute_url %}
    {% add_crumb 'Tickets' ticket.project.get_tickets_url %}
    {% add_crumb ticket %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <h3>{% trans 'Edit' %}</h3>
    <form action="." method="post">
        {{ form.as_p }}
        <div class="actions">
            <input class="save" type="submit" value="{% trans 'Save' %}" />
        </div>
    </form>
    <ul class="actions">
        <li><a class="view" href="{{ ticket.get_absolute_url }}">{% trans 'View' %}</a></li>
        <li><a class="delete" href="{{ ticket.get_delete_url }}">{% trans 'Delete' %}</a></li>
    </ul>
{% endblock %}
