{% extends 'layout.html' %}

{% load i18n %}
{% load breadcrumbs %}
{% load comments %}

{% block title %}{% trans 'Projects' %}{% endblock %}

{% block breadcrumbs %}
    {% add_crumb 'Projects' '/projects/' %}
    {% add_crumb ticket.project ticket.project.get_absolute_url %}
    {% add_crumb 'Tickets' ticket.project.get_tickets_url %}
    {% add_crumb ticket %}
    <h2>{% render_breadcrumbs %}</h2>
{% endblock %}

{% block content %}
    <h3>{% trans 'Details' %}</h3>
    {{ details.as_dl }}
    <h3>{% trans 'Description' %}</h3>
    <p>{{ description }}</p>
    <h3>{% trans 'Comments' %}</h3>
    {% get_comment_list for ticket as comment_list %}
    {% if comment_list %}
    <ul>
    {% for comment in comment_list %}
        <li class="comment">
            {% with comment.user_name as user_name %}
            {% with comment.user.get_absolute_url as user_link %}
            {% with comment.submit_date as submit_date %}
            <p class="meta"><strong>{% blocktrans %}Posted by <a href="{{ user_link }}">{{ user_name }}</a> on {{ submit_date }}.{% endblocktrans %}</strong></p>
            <p>{{ comment.comment }}</p>
            {% endwith %}
            {% endwith %}
            {% endwith %}
        </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% get_comment_count for ticket as comment_count %}
    <p>{% blocktrans %}<strong>{{ comment_count }}</strong> comments.{% endblocktrans %}</p>
    {% get_comment_form for ticket as form %}
    <form action="{% comment_form_target %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ ticket.get_absolute_url }}" />
        {% for field in form %}
        {% if field.is_hidden %}
        {{ field }}
        {% else %}
        {% if field.errors %}{{ field.errors }}{% endif %}
        <p {% if field.errors %} class="error"{% endif %} {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
            {{ field.label_tag }}
            {{ field }}
        </p>
        {% endif %}
        {% endfor %}
        <div class="actions">
            <input type="submit" name="post" class="save" value="{% trans 'Save' %}">
        </div>
    </form>
    <ul class="actions">
        <li><a class="edit" href="{{ ticket.get_edit_url }}">{% trans 'Edit' %}</a></li>
        <li><a class="delete" href="{{ ticket.get_delete_url }}">{% trans 'Delete' %}</a></li>
    </ul>
{% endblock %}
